//LESS variables
@dark-blue-grey-two: #223946;
@dark-border: 1.5px solid @dark-blue-grey-two;
@headline-font: 'BebasNeue Light', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
@numeric-font: 'BebasNeue Bold', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
@copy-font: 'Courier Prime', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
@background-color: #0a1724;
@dark-grey: #2e3944;
@light-blue: #39d8ff;
@morse-code-color: #dc3e38;
@pale-red: #dc3e38;
@slate: #3f6171;

//fonts
@font-face {
  font-family: 'BebasNeue Bold';
  src: url('../fonts/BebasNeue_Bold.otf')  format('opentype'),
}
@font-face {
  font-family: 'BebasNeue Light';
  src: url('../fonts/BebasNeue_Light.ttf')  format('truetype'),    
}
@font-face {
  font-family: 'Courier Prime';
  src: url('../fonts/Courier_Prime.ttf')  format('truetype'),    
}

//general element styling
html {
  font-size: 16px;
}
body {
  background-color: @background-color;
  overflow-x: hidden;
  width:100%;
}
blockquote {
  margin:0;
}
.blockquote {
  blockquote {
    margin-bottom: .5rem;
    padding:1rem 2rem 0 1.6rem;
  }
  cite {
    padding-left: 1.6rem;
  }
  p {
    float:left;
    padding: 0;
    margin: 0;
    max-width: 17rem;
  }
}
canvas {
    position: relative;
    top: -1rem;
}
cite {
  font-style: normal;
  opacity: .6;
  .smallcaps {
    clear: left;
    display: inline-block;
  }
}
#container {
  overflow-x: hidden;
}
h1, h2, .h2, h3 {
  margin-top: 0;
  font-family: @headline-font;
  font-weight: normal;
  opacity: 0.9;
  color: #ffffff;
}
h1 {
  font-size:8.4vw;
  letter-spacing: .6vw;
  margin-bottom: 3rem;
}
h2, .h2 {
  font-size: 1.25rem;
  letter-spacing: 4.5px;
  line-height: 1.7rem;
  margin-bottom: 1.5rem;
}
h3  {
  font-size: 1.2rem;
  letter-spacing: 3px;
  line-height: 2rem;
  margin-bottom: 0;
}
main {
  display: block;
  margin-left: 21vw;
  width: 60vw;
}
.mobile {
  display: none;
}
.morse {
  height: 3.21vw;
  position: absolute;
}
p {
  margin-bottom: 1.7rem;
  opacity: 0.9;
}
p, cite {
  color: #ffffff;
  line-height: 29px;
  font-family: @copy-font;
  font-size: 1.1rem;
}
section {
  clear: both;
  //margin-bottom: 26rem;
  position: relative;
}
.smallcaps {
  line-height: 19px;
  letter-spacing: 2px;
  font-size: .8rem;
}
ul {
  list-style: none;
  padding: 0;
  width:100%;
}

//nav
.navbar {
  background-color: @background-color;
  border-bottom: @dark-border;
  height: 63px;
  width:100%;
  white-space: nowrap;
  display: flex;
  padding: 7px 0px 0 6px;
  position: fixed;
  vertical-align: middle;
  z-index: 999;
    * {
      color: #fff;
      display:inline-block;
      text-align: left;
    }
    #binoculars {
      position:relative;
      left:20px;
      top:2px;
    }
    #chevron {
      position: absolute;
      right: 20px;
      top:26px;
    }
    h2  {
        overflow: hidden; 
  }
  #nav-main {
    border-left: @dark-border;
    border-right: @dark-border;
    flex: 1;
    margin: 8px 6px 8px 84px;
    height: 42px;
    vertical-align: top;
    a {
      background-color: @background-color;
      border: none;
      height: 100%;
      padding: 0 1.7rem;
      h2 {
        padding-top: 10px;
      }
    }
  }
  #logo {
    background-color: @dark-blue-grey-two;
    position: absolute;
    height: 56px;
    width: 76px;
    h2 {
      display:none;
      position: relative;
      text-decoration: none;
      left: 33px;
      top: 15px;
    }
    img {
      display: inline-block;
      margin: 11px 0 11px -2px;
      width: 42px;
    }
  }
  #logo:hover {
    background-color: @slate;
    -webkit-transition: .1s all ease-out;
    transition: .1s all ease-out;
    width: 250px;
    h2 {
      display: inline-block;
    }
  }
  button#menu {
    background-color: @dark-blue-grey-two;
    border: none;
    position:relative;
    height: 53px;
    width: 225px;
    outline: none;
    padding-left: 20px;
    img {
      display: none;
    }
    h2 {
      margin-bottom:  0;
      vertical-align: text-top;
    }
  }
}

//headroom.js
.headroom {
    will-change: transform;
    -webkit-transition: transform 200ms linear;
    transition: transform 200ms linear;
}
.headroom--pinned {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
.headroom--unpinned {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

//menu
.menu-list {
  min-height:64px;
  margin-right:14px;
  ol {
    background-color: @slate;
    display: none;
    list-style: none;
    margin: 9px 0;
    padding: 0 5px 10px 1px;
    position: absolute;
    right: 0;
    width: 236px;
    overflow: hidden;
    a {
      border-left: 4px solid @slate;
      right: 31px;
      padding-left: 14px;
      position: relative;
      text-decoration: none;
      -webkit-transition: .5s all ease-out;
      transition: .5s all ease-out;
    }
    h2 {
      margin: 5px 0;
    }
    div {
      border-bottom: 1px solid @background-color;
      display:  block;  
      margin: 0 25px;
      padding: 7px 13px;
      -webkit-transition: .3s all ease-out;
      transition: .3s all ease-out;
    }
    li {
      display: block;
      -webkit-transition: .5s all ease-out;
      transition: .5s all ease-out;
    }
    li:hover {
    background-color: #537f93;
      a {
      border-left: 4px solid #537f93;
      }
      div {
        border-bottom: 1px solid #537f93;
      }
    }
    li:last-of-type div {
      border-bottom: none;
    }
    li.active {
      a {
        border-left: 4px solid #39d8ff;
      }
    }
  }
}
.menu-list:hover {
  #menu {
    background-color: @slate;
  }
  #chevron {
      top: 23px;
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1);
    }
  ol {
  display: block;
  }
}
#header-wrap {
  width:100%;
  margin: 67px 0 7vw -.7vw;
  margin-left: -.7vw;
  margin-top: 67px;
  position: relative;
  #map {
    width:100%;
  }
  .page-header {
    background-color: @slate;
    bottom: 12.5vw;
    display: inline-block;
    height:26vw;
    left:14.8vw;
    padding: 5vw 4vw 4vw 4vw;
    position: absolute;    
    width:27vw;
    h2 {
      font-size: 1.6vw;
      letter-spacing: .5vw;
      line-height: 13px;
      margin-bottom: 1.5vw;
      margin-left: 3.3vw;
      margin-top: 1vw;
    }
    img {
      margin: 3vw 0 .5vw 2.5vw;
      width:6.8vw;
      }
  }
  .page-title {
    font-size: 7.7vw;
    margin-left: 3vw;
    margin-bottom: 0;
  }
  #map-key {
    background-color: @background-color;
    display: inline-block;
    position: relative;
    left:84vw;
    line-height: 1.4vw;
    bottom: 5vw;
    //height: 2vw;
    white-space: nowrap;
    p {
      display: inline;
      line-height: 1.4vw;
      font-size: 1vw;
      margin: 0;
      padding-right: .375vw;
      position: relative;
      white-space: nowrap;
    }
  }
    img {
      display: inline-block;
      padding: 0 .6vw;
      position: relative;
      width: .6vw;
    }
}


//blocks
.block-wrap {
  overflow: hidden;
}
.block {
  box-sizing: border-box;
  border-top: @dark-border;
  float: left;
  margin: 0;
  padding: 1vw 0 1vw 0;
  position: relative;
}
.block__content p {
  margin-left: 1.5vw;
}
.block-2 {
  width: 50%;
}
.block-4 {
  width: 25%;
}
.block--quotes {
  .block__content {
    padding-top: 15px;
    blockquote {
      margin-bottom: .4rem;
      margin-left: 10px;
      margin-right: 3vw;
      text-indent: -7px;
    }
    p:last-of-type {
      line-height: normal;
      margin: 0 0 0 32px;
      text-indent: -20px;
    }
  }
}
.block--quotes:last-child {
  blockquote, p {
    padding-left: 2vw;
  }
}
.block__content {
  display: inline-block;
  height: 100%;
  width: 100%;
  p:last-of-type {
    font-size: 1.37vw;
    line-height: 2.29vw;
    margin-bottom: 0;
  }
}

//sections
section#letter {
  margin-bottom: 11rem;
  h1 {
    margin-bottom: 6rem;
    max-width: 10rem;
  }
  .morse {
    left: 14.73vw;
    top: 16.5vw;
  }
  #signature {
  background-image: url('../images/Kendra%27sSignature.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 8.6vw;
  position: relative;
  left:-20px;
  p {
    bottom: -5px;
    left:20px;
    margin-bottom: 1rem;
    position: absolute;
  }
}
}
section#current-staff {
  margin-bottom: 10rem;
  h1 {
    max-width: 40rem;
  }
  ul {
    column-count: 4;
  }
  li {
    margin-top: 1.9rem;
    //float: left;
    //margin-right: 20px;
    height:260px;
    width: 170px;
    h2 {
      vertical-align: bottom;
    }
    .smallcaps {
      margin-top: -20px;
    }
    .thumbnail-wrap {
      height: 125px;
      margin-bottom: 1.3rem;
      position: relative;;
      img {
        position: absolute;
        bottom: 0;
      }
    }
  }
  .morse {
    left: 11.5vw;
    top: 3.3vw;
  }
}
section#mission-statement {
  min-height: 77rem;
  margin-bottom: 8rem;
  position: relative;
  >* {position: absolute;}
  img:nth-child(1) {
    //height: 21.5vw;
    width: 23vw;
    left:-13.3vw;
    top:9vw;
  }
  img:nth-child(2) {
    //height: 25.77vw;
    width: 20vw;
    left:12.5vw;
    top:2.35vw;
  }
  img:nth-child(3) {
    //height: 40.1vw;
    width: 31.92vw;
    left:35.99vw;
    top:7.8vw;
  }
  img:nth-child(4) {
    margin-top: 5vw;
    width: 44vw;
    left:-14.1vw;
    bottom: 2rem;
  }
  img:nth-child(5) {
    //height: 32.48vw;
    width: 37.93vw;
    left:40.7vw;
    top:44.2vw;
  }
  .big-box {
    background-color: @dark-grey;
    left:-5.1vw;
    top:24.2vw;
    margin-bottom: 8rem;
    //min-height: 31vw;
    padding-bottom: 3rem;
    padding-left: .7rem;
    position: relative;
  }
}
section#at-a-glance {
  margin-bottom: 13rem;
  h1 {
    margin-bottom: 5rem;
  }
  .morse {
    left: -4.5vw;
    top: 7.5vw;
  }
  #icon-students-served {
    left: 17vw;
    top: 7vw;
  }
  #icon-hours {
   left: 17vw;
   top: 6vw;
  }
  #icon-active-volunteers {
   left: 2vw;
   top: 6.2vw;
  }
  #icon-field-trips {
   left: 15.7vw;
   top: 2.5vw;
  }
  #icon-workshops {
   left: 12.3vw;
   top: 3.9vw;
  }
  .no-2 {
    margin-top: 5.5vw;
  }
  .no-3 {
    margin-top: 5.8vw;
  }
  .no-4 {
    margin-left: .9vw;
    margin-top: 6.3vw;
  }
  .no-5 {
    margin-top: 4vw;
  }

  //top row
  .block:nth-of-type(1),
  .block:nth-of-type(2) {
    border-top: none;
    padding-top:2rem;
    height: 20.5vw;
  }
  //second row
  .block:nth-of-type(3),
  .block:nth-of-type(4),
  .block:nth-of-type(5) {
    height: 20.5vw;
  }

  .block:nth-of-type(1),
  .block:nth-of-type(3),
  .block:nth-of-type(4),
  .block:nth-of-type(6),
  .block:nth-of-type(7),
  .block:nth-of-type(9),
  .block:nth-of-type(10) {
    .block__content {
      border-right: @dark-border;
    }
  }
  .block:nth-of-type(1),
  .block:nth-of-type(6),
  .block:nth-of-type(9) {
    p {
      margin-left: 0;
    }
  }
  //block 3
  .block:nth-of-type(3) {
    p {
      margin-left: 14vw;
    }
  }
  //block 5
  .block:nth-of-type(5) {
    .no-5 {
      margin-top: 7.1vw;
    }
  }
  //block 6
  .block:nth-of-type(6) {
    width: 22.8%;
  }
  //block 7
  .block:nth-of-type(7) {
    width: 27.2%;
  }

  //third row
  .block:nth-of-type(6),
  .block:nth-of-type(7),
  .block:nth-of-type(8) {
    height: 15vw;
  }
  //fourth row
  .block:nth-of-type(9),
  .block:nth-of-type(10),
  .block:nth-of-type(11) {
    height: 14vw;
    .no-5 {
      margin-top: 2vw;
    }
  }
}
section#updates {
  margin-bottom: 15rem;
  .floated-pair {
    margin-bottom: 14vw;
    img {
      position: absolute;
      //height: 35vw;
      width: 35vw;
      z-index: -999;
    }
  }
  .floated-pair:nth-child(4) {
    margin-bottom: 8vw;
  }
  .floated-pair:last-of-type {
    margin-bottom: 0;
  }
  h1 {
    margin-bottom: 2.5rem;
  }
  .morse {
    left: -3.5vw;
    top: 3.5vw;
  }
}
section#core-programs {
  .big-box {
      background-color: @slate;
      margin-top: 2rem;
      padding-top: 2rem;
      width: 55vw;
      h3, p {
        padding-left: 1.75rem;
      }
  }
  .box {
    margin-top: 0;
    //padding-bottom: 1.7rem;
  }
  h1 {
    margin-bottom: 5rem;
    max-width: 10rem;
  }
  h3 {
    margin-bottom: -1rem;
  }
  .morse {
    height: 1.65vw;
    left: 19vw;
    top: 11.75vw;
    width: 14.49vw;
  }
}
div#after-school {
  .box {
    width: 15.5rem;
  }
  .no-3 {
    margin-top: 2.3vw;
  }
  #icon-after-school {
    left: 3.8vw;
    top: 2.2vw;
  }

  //block 1
  .block:nth-of-type(1) {
    .block__content p {
      margin-left: 15.5vw;
    }
  }

  .block:nth-of-type(1),
  .block:nth-of-type(2),
  .block:nth-of-type(3) {
    height: 16vw;
  }

  .block:nth-of-type(1),
  .block:nth-of-type(2) {
    .block__content {
      border-right: @dark-border;
    }
  }
  .block:nth-of-type(5){
    .block__content {
      border-left: @dark-border;
    }
  }
}
div#field-trips {
  .box {
    width: 15.5rem;
  }
  margin-top: 12rem;
  // .mobile {
  //   display: none;
  // }
  #icon-authors {
    left: 12vw;
    top: 3.5vw;
  }
  .no-3 {
    margin-top: 2.4vw;
  }

  .block:nth-of-type(1) {
    p {
      margin-left: 0;
    }
  }

  //row 1
  .block:nth-of-type(1),
  .block:nth-of-type(2),
  .block:nth-of-type(3) {
    height: 16.5vw;
  }

  .block:nth-of-type(2),
  .block:nth-of-type(3) {
    padding-left: .5vw;
  }

  .block:nth-of-type(1),
  .block:nth-of-type(2) {
    .block__content {
      border-right: @dark-border;
    }
  }
  .block:nth-of-type(2) {
    .no-3 {
      margin-left: .9vw;
    }
  }
  .block:nth-of-type(6) {
    .block__content {
      border-left: @dark-border;
    }
  }

}

div#in-schools {
  margin-top: 13rem;
  i {
    font-style: normal;
  }
  .italic {
    font-style: italic;
  }
  .box {
    left: 35vw;
    width: 17.5rem;
  }
  // .mobile {
  //   display: none;
  // }
  // .quotes-div {
  //   height: 35vw;
  // }
  #icon-publications {
    left: 1vw;
    top: 2.4vw;
  }
  //first block desktop
  .block:nth-of-type(2) {
    p {
      margin-left: 0;
    }
  }
  .block:nth-of-type(4) {
    .block__content p {
      margin-left: 14vw;
    }
  }
  .block:nth-of-type(2),
  .block:nth-of-type(3),
  .block:nth-of-type(4) {
    height: 17vw;
  }
  .block:nth-of-type(2),
  .block:nth-of-type(3) {
    .block__content {
      border-right: @dark-border;
    }
  }
  .block:nth-of-type(6) {
    .block__content {
      border-left: @dark-border;
    }
  }
  .no-3 {
    margin-top: 2.4vw;
  }
}
div#workshops {
  margin-top: 11.5rem;
  .box {
    left: 38.5vw;
    width: 17.5rem;
  }
  .big-box {
    margin-top: 1.5rem;
  }
  #icon-workshops-2 {
    left: 13vw;
    top: 3vw;
  }
  .no-3 {
    margin-top: 2.4vw;
  }
  //row 1
  .block:nth-of-type(2),
  .block:nth-of-type(3),
  .block:nth-of-type(4) {
    height: 16vw;
  }

  .block:nth-of-type(2){
    p {
      margin-left: 0;
    }
  }

  //right borders
  .block:nth-of-type(2),
  .block:nth-of-type(3) {
    .block__content {
      border-right: @dark-border;
    }
  }
  .block:nth-of-type(6) {
    .block__content {
      border-left: @dark-border;
    }
  }
}
div#publishing {
  margin-top: 13rem;
  .block {
    width: 100%;
  }
}
div#publications {
  margin-top: 5rem;
  .block {
    width: 100%;
    blockquote {
      padding-left: 0;
    }
    p {
      margin-left: 32px;
      padding-left: 0;
      text-indent: -20px;
    }
  }
  .books {
    column-count: 3;
    column-gap: 0;
    position: relative;
    left: -16vw;
    width: 87vw;
  }
  .books__item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    //display: table-cell;
    vertical-align: bottom;
    padding: 0 .5rem 1.5rem .5rem;
  }
  .img-wrap {
    position: relative;
    display: table-cell;
    height: 10rem;
    vertical-align: bottom;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-backface-visibility: hidden;
    img {
      margin-bottom: -4px;
      width: 100%;
    }
  }
  .img-wrap, .books__title {
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-backface-visibility: hidden;
  }
  .books__title {
    box-sizing: border-box;
    opacity: 0;
    background-color: @slate;
    position: absolute;
    bottom: 0;
    min-height: 40%;
    width: 100%;
    padding: 1rem;
    h2 {
      font-size: 2vw;
      line-height: 2.6vw;
      letter-spacing: 3px;
      opacity: 1;
      margin-bottom: 0;
    }
  }
  .img-wrap:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 3rem 0 @background-color;
    z-index: 999;
    .books__title {
      opacity: 1;
    }
  }
  h3 {
    margin-bottom: 2rem;
  }
}

section#volunteers {
  margin-bottom: 12rem;
  margin-top: 8.4rem;
  .box {
    background-color: #fff;
    color: @slate;
    left: 17vw;
    margin: -19vw 0 4vw 0;
    width:43.5vw;
    blockquote, cite {font-weight: bold;}
    blockquote {
      padding:0;
      margin-left: 10px;
      text-indent: -6px;
    }
    cite {
      display: block;
      margin-left: 6px;
      text-indent: -20px;
    }
    p {
      padding:0;
    }
  }
  img {
    margin-top: 1rem;
    margin-bottom: 5rem;
    //width: 57.5vw;
  }
  .morse {
    left: 11vw;
    top: .7vw;
    width: 18.29vw;
  }
}
section#financials-report {
  margin-bottom: 17rem;
  #income-wrap--mobile,
  #expenses-wrap--mobile {
    display: none;
  }
  .morse {
    left: -3.2vw;
    top: 12.5vw;
  }
  .section-title {
    margin-bottom: 2rem;
    max-width: 10rem;
  }
  .smallcaps {
    margin-bottom: 0;
  }
}
section#team {
  h2.section-title {
    margin-bottom: 0;
  }
  .section-title {
    max-width: 40rem;
  }
  .block {
    border-top: 2px solid @dark-blue-grey-two;
    //float: left;
    height: 12vw;
    // padding: 1.4rem 15px 1.2rem 0;
    // width: 170px;
    .block__content {
      max-width: 90%;      
    }
    .smallcaps {
      .smallcaps;
      margin-left: 0;
      margin-top: -12px;
    }
  }
  .morse {
    left: 20.5vw;
    top: 3.5vw;
  }
  ul {
    margin-bottom: 5rem;
    margin-top: 4rem;
    h2 {
      line-height: 1.7rem;
      margin: .75rem 0;
      max-width: 11rem;
      padding-bottom: .25rem;
    }
  }
}
section#funders {
  .box {
    background-color: #fff;
    color: @slate;
    //min-height: 26vw;
    left: 17vw;
    width: 43vw;
    margin: -26vw 0 5vw 0;
    //padding:1.9vw .5vw 1.2vw 1.7vw;
  }
  blockquote, cite {
    font-weight: bold;
  }
  blockquote {
    padding: 0;
    margin-left: 10px;
    max-width: 31rem;
    text-indent: -6px;
  }
  cite {
    display: block;
    margin-left: 6px;
    text-indent: -20px;
  }
  img {
    margin-top: -1rem;
    margin-bottom: 11rem;
    //height: 41vw;
    //width: 57.5vw;
  }
  .morse {
    left: 2.2vw;
    top: 6.4vw;
    width: 29.28vw;
  }
  p {
    padding:0;
  }
  .text-column {
    max-width: 28rem;
  }
}
section#volunteers2 {
  margin-bottom: 10rem;
  #volunteers-desc {
    opacity: .6;
  }
}
section#government {
  margin-bottom: 10.2rem;
}

section::after,
#updates .floated-pair::after,
section#team ul::after {
  content: "";
  display: table;
  clear: both;
}
section#board-of-directors,
section#interns,
section#associate-board,
section#design-cohort-members,
section#funders,
section#individuals,
section#foundations,
section#organizations {
  margin-bottom: 3.5rem;
}
section#volunteers,
section#funders {
  .box {
  position: relative;
  }
}
.section-title {
  max-width:28rem;
}
#letter .section-title,
#at-a-glance .section-title {
  color: @light-blue;
}
.text-column {
  max-width: 35rem;
}
div.floated-pair {
  clear: both;
  margin: 0;
  position: relative;
  width: 69vw;
  * {
    vertical-align: top
  }
  img {
    position: absolute;
  }
  p:first-child.pair-left {
    display: inline-block;
    width: 28vw;
  }
}
.pair-left {
  display: inline-block;
}
.pair-left--mobile {
  display: none;
}
.pair-right {
  display: inline-block;
  margin-left: 30vw;
}
div#yerika {
  background-color: @slate;
  display: inline-block;
  float:right;
  //min-height:19vw;
  width:33vw;
  margin: 1.5rem 1.5rem 0 0;
  padding: .5rem 0rem 1.5rem .75rem;
  .h2, .smallcaps {
    opacity: 1;
  }
  p {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  blockquote {
    text-indent: -6px;
  }
}

.big-box {
    padding: 0 .75rem .25rem 1rem;
    width:58vw;
    h3, p {
      padding: 0 55px 0 55px;
    }
    h2 {
      padding-left: 55px;
      padding-top: 3rem;
    }
}


//margins
// .col-2 div, .col-4 div {
//   margin-left: 1rem;
//   height:100%;
// }
// .col-2:first-of-type, .col-4:first-of-type {
//   div {
//     margin-left: 0;
//   }
// }

[id^=icon] {
  position: absolute;
}

[id^=no], [class^=no], .percent-sign {
  font-family: @numeric-font;
  //line-height: 0;
  margin: 0 0 0 0;
  //position: absolute;
}
.no-1 {
  font-size: 16vw;
  line-height: 9.6vw;
  //margin-bottom: 4.9vw;
  //bottom:5.7vw;
}
.no-2 {
  font-size: 9.9vw;
  line-height: 5.8vw;
  //margin-bottom: 3.1vw;
  //bottom:5.7vw;
}
.no-3 {
  font-size: 7.8vw;
  line-height: 4.6vw;
  // margin-bottom:2.3vw;
  // margin-left:-.4rem;
  // bottom:8.3vw;
  }
.no-4 {
  font-size: 6.9vw;
  line-height: 4.15vw;
  // margin-bottom:2vw;
  // margin-left:-.4rem;
  // bottom:8.3vw;
  }
.no-5 {
  font-size: 5.5vw;
  line-height: 3.15vw;
  // margin-bottom:1.7vw;
  // bottom:8.3vw;
  }
// .col-4 p:last-child,
// .col-2 p:last-child {
//   //margin-top:0;
//   position:absolute;
//   bottom:0;
// }
// .row1 {
//   top:13vw;
// }
// .row2 {
//   top:12vw;
// }
// .row3 {
//   top:7.8vw;
// }
// .row4 {
//   top:6vw;
// }

img.strategic-planning {
  left: 37vw;
  top: -7vw;
}
img.the-code {
  left: -11vw;
  top: -4vw;
}
img.diversity {
  left: 37vw;
  top: 0vw;
}
img.design-cohort {
  left: -11vw;
  top: -7vw;
}
.pair-left.text-column {
  margin-top: 2rem;
}
.pair-right.text-column {
  margin-right: -3.5rem;
  margin-top: 2rem;
}

.text-column.design-cohort {
  margin-top:-3rem;
}

.box {
  position: absolute;
  padding: 1.6rem 1rem 1.6rem 1.6rem;
  left: 38.5vw;
  * {
    color: @dark-grey;
    opacity: .9;
  }
  blockquote {
    line-height: 1.7rem;
  }
  p.smallcaps {
    line-height: 1.2rem;
    //font-size: 1vw;
    margin-bottom: .2rem;
    margin-top: .5rem;
  }
}
#core-programs .box, #field-trips .box {
  background-color: @pale-red;
  p {
    color: #fff;
  }
}
#field-trips .box {
  margin-top: 10px;
  min-height: 0;
  // .smallcaps {
  //   margin: 10px 0 20px 0;
  // }
}
.section-header-img {
  margin-top: 2.5rem;
  //height: 34.7vw;
  //width: 57.7vw;
  width: 100%;
  //width: 46.25rem;
}

.no97 {
  display: inline-block;
  font-size: 6.25rem;
  line-height: 4.5rem;
  position: static;
}
.percent-sign {
  display: inline-block;
  font-size: 3.75rem;
  line-height: 2.5rem;
  padding-left: 5px;
  vertical-align: top;
}
#expenses-wrap,
#income-wrap {
  position: relative;
}
#income-wrap {
  .pie-chart {
    margin-top: .7rem;
  }
}
#expenses-wrap {
  float: right;
  margin-right: -9.8rem;
  margin-top: 12.2rem;
  .pie-chart {
    margin-top: 3.8rem;
    margin-right: .3rem
  }
}
.pie-chart {
  margin-top: 2rem;
}
.no  {
  font-size: 1.7rem;
  margin-top: .1rem;
}
.pie-data {
  position: absolute;
}
#financials-report {
  #earned-income {
    * { 
      color: #FFFFFF;
    }
    left:8.3rem;
    top:15.2rem;
  }
  #individuals {
    * { 
      color: rgba(56, 216, 255, 0.5);
    }
    left:25.4rem;
    top:14.6rem;
  }
  #foundations {
    * { 
      color: rgba(56, 216, 255, 0.5);
    }
    left:28.5rem;
    top:29rem;
  }
  div#government {
    * { 
      color: #39D8FF;
    }
    left:35rem;
    top:40.6rem;
  }
  #corporate {
    * { 
      color: #69E2FF;
    }
    left:27.5rem;
    top:45.rem;
  }
  #national-contributions {
    * { 
      color: #BCF2FF;
      max-width: 14rem;
    }
    left:15rem;
    top:46rem;
  }
  #fundraising-events {
    * { 
      color: #C3F4FF;
      max-width: 9rem;
    }
    left:8.2rem;
    top:29.9rem;
  }
  #administrative {
    * { 
      color: rgba(56, 216, 255, 0.6);
    }
    left:9.6rem;
    top:2.6rem;
  }
  #fundraising {
    * { 
      color: #39D8FF;
    }
    left:4.2rem;
    top:12.7rem;
  }
  #programming {
    * { 
      color: #FFFFFF;
    }
    left:12.2rem;
    top:24.9rem;
  }
}
#income-wrap .pie-data.total {
  border-top: 1px solid white;
  padding-top: 0;
  left:.3rem;
  top:46.5rem;
  width: 5.2rem;
  * {
    color: #FFFFFF;
  }
}
#expenses-wrap .pie-data.total {
  border-top: 1px solid white;
  padding-top: 0;
  top:37.2rem;
  left: .4rem;
  width: 5.2rem;
  * {
    color: #FFFFFF;
  }
}
#team .smallcaps, #current-staff .smallcaps {
  opacity: .6;
}
#board-of-directors ul,
#interns ul,
#associate-board ul,
#design-cohort-members ul,
#volunteers2 ul,
#individuals ul,
#foundations ul,
#organizations ul {
    -moz-column-count: 3;
    -moz-column-gap: 3rem;
    -webkit-column-count: 3;
    -webkit-column-gap: 3rem;
    column-count: 3;
    column-gap: 3rem;
    p {
      margin: 0;
    }
    .smallcaps {
      margin-top: -3px;
      margin-bottom: .31rem;
      opacity: .6;
    }
}
section#government p {
  margin: 0 0 8px 0;
}
div#contribute {
  position: relative;
  padding-left: 21vw;
  width: 100%;
  img#donate {
    margin-bottom: -4px;
    margin-left: -21vw;
    width: 100%;
  }
  div {
    //margintop should be half div height
    margin-top: -8vw;
    position: absolute;
    top: 50%;
    a {
      background-color: @pale-red;
      height: 3.5rem;
      float: left;
      padding: 0 1.5rem;
      text-decoration: none;
      h2 {
        line-height: 3.5rem;
        margin: 0;
      }
    }
    a:nth-child(3) {
      margin-left: 1.5rem;
    }
    h1 {
      margin-bottom: 1.5rem;
    }
  }
}

footer {
  width: 100%;
  #contact {
    background-color: @dark-grey;
    height:13rem;
    padding: 4rem 0 0 18.5vw;
  }
  #contact * {
    display: inline-block;
  }
  h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 0;
  }
  #footer-symbol {
    margin: 0 4px -4px -4px;
    opacity: .6;
  }
  p {
    margin-left: 33px;
  }
  .smallcaps, .smallcaps a {
    color: #fff;
    margin-top: 3px;
  }
  .smallcaps a {
    border-bottom: 1px solid #fff;
    text-decoration: none;
  }
}


//media queries
@media all and (max-width :36.99rem) {
  //nav
.navbar {
  #nav-main {
    border: none;
    h2 {
      color: @light-blue;
      font-size: 3.5vw;
    }
  }
  button#menu {
    height: 56px;
    width: 76px;
    h2 {
      display: none;
      font-weight: bold;
    }
    #menu-icon {
      display: block;
      width: 37px;
    }
  }
  .menu-list ol {
    margin: 5px 0;
    width: 230px;
    li div {
      padding: 5px 13px;
    }
  }
}
  section#core-programs div#publications {
    h3 {
      margin-bottom: 0;
    }
    .books__item {
      height: 20rem;
      .img-wrap {
        height: 20rem;
      }
    }
  }
}
@media all and (min-width: 37rem) {
  div#publications {
    .books {
      column-count: 4;
      margin-bottom: 3rem;
    }
    .books__item {
      padding: 0 .75rem 1.5rem .75rem;
    }
    .img-wrap {
      display:block;
      height: auto;
    }
    p.smallcaps {
      display: none;
    }
    #running-fast {
      padding-top: 10.2vw;
    }
    #i-remember-girl {
      padding-top: 0;
    }
    #the-time-was-1124 {
      padding-top: 0vw;
    }
    #new-voices {
      padding-top: 4vw;
    }
    #the-monster-gasped {
      padding-top: 0;
    }
    #cheetah-with-coffee {
      padding-top: 0;
    }
    #flipping-a-switch {
      padding-top: 15vw;
    }
    #this-could-go-on {
      padding-top: 0;
    }
    #laughing-and-humming {
      padding-top: 0;
    }
    #and-the-rest-is-noise {
      padding-top: 0;
    }
  } 
}
@media all and (min-width: 44rem) {
  div#publications {
    .books {
      column-count: 5;
    }
    .books__item {
      padding: 0 .5rem 1.5rem .5rem;
    }
    #running-fast {
      padding-top: 10.2vw;
    }
    #i-remember-girl {
      padding-top: 0;
    }
    #the-time-was-1124 {
      padding-top: 4vw;
    }
    #new-voices {
      padding-top: 0;
    }
    #the-monster-gasped {
      padding-top: 0;
    }
    #cheetah-with-coffee {
      padding-top: 15vw;
    }
    #flipping-a-switch {
      padding-top: 0;
    }
    #this-could-go-on {
      padding-top: 0;
    }
    #and-the-rest-is-noise {
      padding-top: 13.5vw;
    }
  }
}
@media all and (min-width: 58rem) {
  div#publications {
    .books {
      column-count: 6;
      height:70vw;
    }
    #running-fast {
      padding-top: 10.2vw;
    }
    #i-remember-girl {
      padding-top: 4vw;
    }
    #the-time-was-1124 {
      padding-top: 0;
    }
    #the-monster-gasped {
      padding-top: 15vw;
    }
    #cheetah-with-coffee {
      padding-top: 0;
    }
    #flipping-a-switch {
      padding-top: 0;
    }
    #this-could-go-on {
      padding-top: 13.5vw;
    }
    #and-the-rest-is-noise {
      padding-top: 4.7vw;
    }
  }
}
@media all and (min-width: 1217px) {
  section#mission-statement {
    img:nth-child(1) {
      top: 6vw;
    }
    img:nth-child(4) {
      bottom: -3rem;
    }
  }
  section#core-programs,
  div#field-trips,
  div#workshops {
    .box {
      left: 45vw;
    }
  }
}
@media all and (max-width: 1100px) {
  section#current-staff ul {
    column-count: 3;
  }
  section#team {
    .block {
      height: 14vw;
    }
  }
}
@media all and (max-width: 1216px) {
  section#team {
    .block {
      width: 33.33%;
    }
  }
  #board-of-directors ul,
  #interns ul,
  #associate-board ul,
  #design-cohort-members ul,
  #volunteers2 ul,
  #individuals ul,
  #foundations ul,
  #organizations ul {
    -moz-column-count: 2;
    -moz-column-gap: 20vw;
    -webkit-column-count: 2;
    -webkit-column-gap: 20vw;
    column-count: 2;
    column-gap: 20vw;
  }
}
@media all and (max-width: 58rem) {
    section#letter {
    .morse {
      left: 5vw;
      top: 26.5vw;
    }
    .floated-pair {
      width: inherit;
    }
    .pair-left {
      display: none;
    }
    .pair-left--mobile {
      display: inline-block;
    }
    #yerika {
      float: none;
      margin: 0;
      min-height: 0;
      width: 100%;
      blockquote {
        padding: .70rem .75rem 0 .75rem;
      }
    }
  }
  section#at-a-glance {
    .morse {
      left: -5vw;
      top: 9vw;
    }
  }
  section#core-programs {
    .morse {
      left: 19vw;
      top: 12vw;
    }
  }
  div#field-trips {
    #icon-authors {
      width: 14.5vw !important;
      top: 4.5vw;
    }
  }
  section#financials-report {
    #expenses-wrap {
      float:none;
      margin-right: 0;
    }
  }
}

@media all and (max-width: 54rem) {
  main {
    margin-left: 18vw;
    width: 70vw;
  }
  section#letter #signature {
    height: 14vw;
  }
  section#current-staff {
    ul {
      column-count: 2;
    }
  }
  section#core-programs {
    h3 {
      margin-bottom: 1rem;
    }
  }
  div#publications {
    .books{
      left: -12vw;
    }
  }
  #income-wrap {
    left: -4rem;
    h3 {
      margin-left: 4rem;
    }
  }
  section#team {
    .blocks-wrap .block {
      height: 20vw;
    }
  }
  section#volunteers,
  section#funders {
    .box {
      left: 25vw;
    }
  }
  section#funders {
    .box {
      margin-top: -30vw;
    }
  }
}
@media all and (max-width: 764px) {
  section#mission-statement {
    img:nth-child(4) {
      //bottom: -3rem;
    }
  }
  div#after-school,
  div#field-trips,
  div#in-schools,
  div#workshops {
    .block .block__content p:last-of-type {
      font-size: 14px;
      line-height: 22px;
    }
    .block--quotes {
      width: 100%;
    }
    .block--quotes:last-of-type {
      .block__content{
        border-left: none;
        blockquote, p {
          padding-left: 0;
        }
      }
    }
  }
  section#core-programs {
    .big-box {
      box-sizing: border-box;
      width: 100%;
    }
  }
  section#financials-report {
    #income-wrap .pie-data.total {
      top: 32.5rem;
    }
    #expenses-wrap  {
      margin-top: 0;
    }
    //pie chart
    #income {
      left: 4rem;
    }
    //values
    #earned-income {
      top: 12rem;
    }
    #individuals {
      left: 22rem;
      top: 12rem;
    }
    #foundations  {
      left: 23rem;
      top: 21rem;
    }
    #fundraising-events {
      left: 9rem;
      top: 22rem;
    }
    #national-contributions {
      left: 12rem;
      top: 34rem;
    }
    #government {
      left: 29rem;
      top: 28.5rem;
    }
    #corporate  {
      left: 23rem;
      top: 33rem;
    }
  }
  section#volunteers,
  section#funders {
    .box {
      .h2 {
        font-size: 1.1rem;
        line-height: 1.45rem;
      }
    }
  }
}
@media all and (max-width: 44rem) {
  section#mission-statement {
    .big-box {
      h2 {
        padding-left: 25px;
      }
      p {
        padding: 0 20px 0 25px;
      }
    }
  }

  //blocks
  section#at-a-glance {
    .block:nth-of-type(1),
    .block:nth-of-type(2) {
      height: 23vw;
    }
  }
  div#after-school,
  div#field-trips {
    .block:nth-of-type(1),
    .block:nth-of-type(2),
    .block:nth-of-type(3) {
      height: 21vw;
    }
  }
  div#in-schools,
  div#workshops {
    .block:nth-of-type(2),
    .block:nth-of-type(3),
    .block:nth-of-type(4) {
      height: 21vw;
    }
  }
  div#workshops {
    .block:nth-of-type(3) {
      width: 45%;
    }
  }

  section#core-programs,
  div#field-trips,
  div#in-schools,
  div#workshops {
    .box {
      left: 35vw;
      width: 15rem;
      padding: .9rem .5rem .9rem .9rem;
      .no97 {
        font-size: 3.5rem;
        line-height: 3rem;
      }
      .percent-sign {
        font-size: 1.87rem;
        line-height: 1.75rem; 
      }
      .smallcaps {
        font-size: .65rem;
        line-height: .95rem;
      }
    }
    .section-header-img {
      margin-top: 3.5rem;
    }
  }
  section#letter {
    .morse {
      top: 30vw;
    }
  }
  section#at-a-glance {
    .morse {
      top: 12vw;
    }
  }
  section#team {
    .blocks-wrap .block {
      padding: .5rem 0;
      min-height: 7rem;
      width: 50%;
      h2 {
        font-size: 1rem;
        line-height: 1.3rem;
      }
    }
  }
  section#funders {
    .box {
      margin-top: -40vw;
    }
  }
  section#volunteers,
  section#funders {
    .box {
      padding: 1rem 1rem .625rem 1rem;
      //width: 18.5rem;
      blockquote.h2 {
        font-size: .9rem;
        letter-spacing: 3px;
        line-height: 1.3rem;
        margin-bottom: .5rem;
      }
      .smallcaps {
        line-height: 16px;
        font-size: .7rem;
      }
    }
  }
  #associate-board ul,
  #board-of-directors ul,
  #design-cohort-members ul,
  #foundations ul,
  #individuals ul,
  #interns ul,
  #organizations ul,
  #volunteers2 ul {
    -moz-column-count: 1;
    -moz-column-gap: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
    column-count: 1;
    column-gap: 0;
  }
  div#contribute div h1 {
    font-size: 10vw;
  }
}
@media all and (max-width: 548px) {
  #header-wrap .page-header h2 {
    font-size: 2vw;
    letter-spacing: .5vw;
  }
  .section-header-img {
    width: 115%;
    margin-left: -7vw;
  }
  section#letter #signature {
    height: 17vw;
  }
  section#at-a-glance {
    .morse {
      top: 14vw;
    }
  }
  section#team {
    .blocks-wrap .block {
      h2 {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  section#volunteers,
  section#funders {
    .box {
      width: 50vw;
      padding: .75rem;
      .h2 {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .smallcaps {
      font-size: 12px;
      line-height: 16px;
    }
  }
  section#volunteers {
    .box {
      margin-top: -28vw;
    }
  }
  section#funders {
    .box {
      margin-top: -50vw;
      
    }
  }

  //blocks
  div#after-school,
  div#field-trips {
    .block:nth-of-type(1),
    .block:nth-of-type(2),
    .block:nth-of-type(3) {
      height: 27vw;
    }
  }
  div#in-schools {
    .block:nth-of-type(2),
    .block:nth-of-type(3),
    .block:nth-of-type(4) {
      p:last-of-type  {
        font-size: 12px;
        line-height:  18px;
      }
    }
  }
  div#workshops {
    .block:nth-of-type(2),
    .block:nth-of-type(3),
    .block:nth-of-type(4) {
      height: 27vw;
    }
  }
  div#workshops {
    .block:nth-of-type(3) {
      width: 45%;
    }
  }
  div#contribute div {
    top: 40%;
    h1 {
      font-size: 12vw;
    }
    a {
      height: 3rem;
      padding: 0 1rem;
      h2 {
        font-size: 1rem;
        line-height: 3rem;
      }
    }
  }
}
//mobile
//@media all and (max-width: 25rem) {
@media all and (max-width: 427px) {
.desktop {
  display: none;
}
.mobile {
  display: block;
}

.blockquote {
  cite {
    padding-left: .8rem;
  }
}

h1 {
  font-size:16vw;
  letter-spacing: .6vw;
}
h2, .h2 {
  font-size: .9rem;
  letter-spacing: 3px;
  line-height: 1.4rem;
  margin-bottom: .5rem;
}
h3  {
  font-size: .9rem;
  letter-spacing: 3px;
  line-height: 1.5rem;
  margin-bottom: 0;
}
main {
  margin-left:10vw;
  width: 80vw;
}
p {
  //margin-bottom:;
}
p, cite {
  line-height: 1.55rem;
  font-size: .9rem;
}
.smallcaps {
  line-height: 16px;
  font-size: .7rem;
}

//theme
.big-box {
  margin-left: 0;
  width: 100%;
  h3, p {
    padding: 0 20px 0 20px;
  }
  h2 {
    padding-left: 20px;
    padding-top: 35px;
  }
}
.morse {
  height: 5vw;
}

.navbar {
  #nav-main {
    a {
      padding: 0;
      text-align: center;
      width: 100%;
    }
    h2 {
      font-size: 4vw;
      letter-spacing: 3px;
    }
  }
}
// //nav
// .navbar {
//   #nav-main {
//     border: none;
//     h2 {
//       color: @light-blue;
//       font-size: 3.5vw;
//     }
//   }
//   button#menu {
//     height: 56px;
//     width: 76px;
//     h2 {
//       display: none;
//       font-weight: bold;
//     }
//     #menu-icon {
//       display: block;
//       width: 37px;
//     }
//   }
//   .menu-list ol {
//     margin: 5px 0;
//     width: 220px;
//     li div {
//       padding: 5px 13px;
//     }
//   }
// }

#header-wrap {
  #map {
    margin-bottom: -4px;
    margin-left: -35%;
    width: 150%;
  }
  #map-key {
    display: none;
  }
  .page-header {
    margin-bottom: 5rem;
    padding: 5vw 4vw 4vw 7vw;
    position: static;
    height: 12rem;
    width: 100%;
    h2 {
      font-size: 4vw;
    }
    img {
      width: 16vw;
    }
    .page-title {
      font-size: 15vw;
      width: 0;
    }
  }
}

//sections
section#letter {
  margin-bottom: 7rem;
  h1 {
    margin-bottom: .5rem;
  }
  .morse {
    left: 12vw;
    top: 47vw;

  }
  #signature {
    height: 22vw;
    top: -25px;
  }
}
section#current-staff {
  margin-bottom: 0rem;
  .morse {
    left: 4vw;
    top: 23.5vw;
  }
  h2 {
    color: @light-blue;
  }
  h3 {
    display: none;
  }
  li {
    margin-right: 10px;
    margin-top: .5rem;
    width: 145px;
    .smallcaps {
      margin-top: -5px;
    }
  }
}
section#mission-statement {
  min-height: 98rem;
  .big-box {
    padding-bottom: 7px;
    top: 135vw;
  }
  img:nth-child(1) {
    width: 80vw;
    left:;
    top: 310vw;
  }
  img:nth-child(2) {
    width: 60vw;
    left: 27vw;
  }
  img:nth-child(3) {
    width: 40vw;
    left: 5vw;
    top: 20vw;
  }
  img:nth-child(4) {
    width: 80vw;
    left:;
    top: 70vw;
  }
  img:nth-child(5) {
    width: 70vw;
    left:;
    top: 275vw;
    z-index: 999;
  }
}

//grid
.block {
  padding: 5vw 0 5vw 0;
}
.block--quotes {
  .block__content {
    padding-top: 0;
  }
}
.block__content {
  p {
    margin-left: 3vw;
  }
  p:last-of-type {
    font-size: 3.5vw;
    line-height: 5.5vw;
  }
}
.block-2 {
  width: 100%;
}
.block-4 {
  width: 50%;
}

section#at-a-glance {
  h1 {
    margin-bottom: 2rem;
  }
  .morse {
    left: -5vw;
    top: 14vw;
  }

  .block:nth-of-type(1),
  .block:nth-of-type(2),
  .block:nth-of-type(3) {
    height: 42vw;
  }
  .block:nth-of-type(4),
  .block:nth-of-type(5) {
    height: 50vw;
  }
  .block:nth-of-type(6),
  .block:nth-of-type(7),
  .block:nth-of-type(8),
  .block:nth-of-type(9),
  .block:nth-of-type(10),
  .block:nth-of-type(11) {
    height: 40vw;
  }

  //overwrites
  .block:nth-of-type(2) {
    border-top: @dark-border;
    padding-top: 5vw;
  }
  .block:nth-of-type(1),
  .block:nth-of-type(3),
  .block:nth-of-type(7),
  .block:nth-of-type(9) {
    .block__content {
      border-right: none;
    }
  }
  .block:nth-of-type(6),
  .block:nth-of-type(7){
    width: 50%;
  }

  //remove left margin from first in row
  .block:nth-of-type(1),
  .block:nth-of-type(2),
  .block:nth-of-type(3),
  .block:nth-of-type(4),
  .block:nth-of-type(6),
  .block:nth-of-type(8),
  .block:nth-of-type(9),
  .block:nth-of-type(10) {
    .block__content p {
      margin-left: 0;
    }
  }

  //make no-5s in 8 and 9 bigger
  .block:nth-of-type(8),
  .block:nth-of-type(9) {
    .no-5 {
      font-size: 20vw;
      line-height: 12vw;
      margin-top: 6vw;
    }
  }

  #icon-students-served {
    left: 45vw;
    top: 8vw;
    width: 30vw !important;
  }
  #icon-hours {
    left: 39vw;
    top: 7vw;
    width: 28vw !important;
  }
  #icon-active-volunteers {
    left: 39vw;
    top: 7vw;
    width: 25vw !important;
  }
  #icon-field-trips {
    left: 42vw;
    top: 8vw;
    width: 25vw !important;
  }
  #icon-workshops {
    left: 39vw;
    top: 14vw;
    width: 33vw !important;
  }
}
section#updates {
  h1 {
    margin-bottom: 0;
  }
  .morse {
    left: 0;
    top: 6vw;
  }
  .floated-pair {
    width: 100%;
    img {
      margin-left: -6vw; 
      width: 110%;
      padding: 1rem 0 0 0;
      position: static;
    }
  }
  .pair-right {
    margin: 0;
  }
}
section#core-programs {
   h1 {
    margin-bottom: 0;
  }
  .section-header-img {
    margin-left: -4vw;
    padding-bottom: 9rem;
    width: 110%;
  }
  .box {
    //min-width: 60vw;
    //padding: 5vw 0 3vw 5vw;
    p.smallcaps {
      line-height: 17px;
      font-size: 2.5vw;
    }
  }
  .morse {
    height: 2.97vw;
    width: 26.08vw;
    left: 33.5vw;
    top: 23vw;
  }
}
div#after-school {
  .box {
    left: 22vw;
    margin-top: 12rem;
    p.smallcaps {
      max-width: 55vw;
    }
  }
  #icon-after-school {
    left: 43vw;
    top: 7vw;
    width: 20vw !important;
  }
  .no-3 {
    font-size: 15vw;
    line-height: 9vw;
    margin-top: 2.4vw;
  }
  .block:nth-of-type(1),
  .block:nth-of-type(4),
  .block:nth-of-type(5) {
    height: 41vw;
  }
  .block:nth-of-type(2),
  .block:nth-of-type(3) {
    height: 38vw;
    .no-3 {
      margin-top: 5vw;
    }
  }
  .block:nth-of-type(1),
  .block:nth-of-type(2) {
    .block__content p {
      margin-left: 0;
    }
  }
  //overwrite
  .block:nth-of-type(3) {
    padding-left: 0;
  }
}
div#field-trips {
  margin-top: 5rem;
  .box {
    left: 22vw;
    margin-top: 12rem;
    p.smallcaps {
      max-width: 55vw;
    }
  }
  #icon-authors {
    left: 40vw;
    top: 5vw;
    width: 38vw !important;
  }
  .block:nth-of-type(2) {
    height: 42vw;
  }
  .block:nth-of-type(3),
  .block:nth-of-type(4) {
    height: 38vw;
  }
  .block:nth-of-type(3) {
    .block__content {
      border-right: @dark-border;
    }
  }
  .block:nth-of-type(5) {
    min-height: 42vw;
  }
}
div#in-schools {
  margin-top: 5rem;
  .box {
    left: 22vw;
    margin-top: 12rem;
    p.smallcaps {
      max-width: 55vw;
    }
  }
  .big-box {
    //margin-left: -5.1vw;
    width: 100%;
  }
  #icon-publications {
    left: 42vw;
    top: 5vw;
    width: 26vw !important;
  }
  .block:nth-of-type(1) {
    height: 42vw;
  }
  .block:nth-of-type(2),
  .block:nth-of-type(3), {
    height: 38vw;
  }
  .block:nth-of-type(5) {
    min-height: 42vw;
  }
}
div#workshops {
  margin-top: 5rem;
  .box {
    left: 22vw;
    margin-top: 12rem;
    p.smallcaps {
      max-width: 55vw;
    }
  }
  .big-box {
   // margin-left: -5.1vw;
    width: 100%;
  }
  #icon-workshops-2 {
    left: 36vw;
    top: 7vw;
    width: 30vw !important;
  }
  .block:nth-of-type(1) {
    height: 42vw;
  }
  .block:nth-of-type(1),
  .block:nth-of-type(2) {
    .block__content p {
      margin-left: 0;
    }
  }
  .block:nth-of-type(2),
  .block:nth-of-type(3) {
    height: 38vw;
  }
  .block:nth-of-type(2) {
    .block__content {
      border-right: @dark-border;
    }
  }
  .block:nth-of-type(4) {
    min-height: 42vw;
  }

}
div#publishing {
  margin-top: 5rem;
  .section-header-img {
    padding-bottom: 1rem;
  }
}
div#publications {
  margin-left: 9vw;
  .desktop {
    display: none;
  }
  .books__item {
    padding: 0 .3rem 1.5rem .3rem;
  }
}
section#volunteers {
  margin-bottom: 0;
  .morse {
    left: -.5vw;
    top: 2vw;
    width: 28.49vw;
  }
}
section#volunteers,
section#funders {
  margin-top: 5rem;
  .section-header-img {
    margin: 0 0 0 -4vw;
    width: 110%;
  }
  .box {
    left: 13vw;
    margin: -4rem 0 3rem 0;
    //padding: 0;
    width: 70vw;
    blockquote {
      line-height: 1.4rem;
      text-indent: -6px;
      //padding: 1.3rem 1rem 0 1rem;
    }
    .smallcaps {
      text-indent: -20px;
      margin-left: 16px;
      max-width: 55vw;
    }
  }
}
section#financials-report {
  margin-bottom: 0;
  margin-top: 5rem;
  .morse {
    left: -1vw;
    top: 6vw;
  }
  #income-wrap,
  #expenses-wrap {
    display: none;
  }
  #income-wrap--mobile,
  #expenses-wrap--mobile {
    display: block;
  }
  .pie-chart--mobile {
    margin: 3rem 0 0 0;
  }
  table {
    border-collapse: separate;
    border-spacing: 0 .9rem;
    width: 100%;
    td {
      vertical-align: bottom;
      padding: 0;
      position: relative;
      width: 49%;
      p {
        margin-left: 25px;
      }
      .no {
        font-size: 1.4rem;
      }
      .smallcaps {
        font-size: .65rem;
        line-height: .95rem;
      }
    }
  }
  #big-total {
      font-size: 14vw;
      margin: 1.5rem 0 4rem 0;
  }
  .pie-data {
    position: static;
  }
  .pie-data.total {
    border-top: @dark-border;
    margin-top: 1.5rem;
    padding-top: .5rem;
    width: 95%;
  }
  .pie-key {
    position: absolute;
    bottom: 4px;
    width: 19px;
    height: 19px;
    border-radius: 100px;
  }
  #earned-income-key {
    background-color: #FFFFFF;
  }
  #individuals-key {
    background-color: #1D637B;
  }
  #fundraising-key {
    background-color: #CED0D3;
  }
  #foundations-key {
    background-color: #2A9DBD;
  }
  #contributions-key {
    background-color: #848B91;
  }
  #government-key {
    background-color: #39D8FF;
  }
  #corporate-key {
    background-color: #848B91;
  }
  #td_earned-income * {
    color: #FFFFFF;
  }
  #td_individuals * {
    color: #1D637B;
  }
  #td_fundraising * {
    color: #CED0D3;
  }
  #td_foundations * {
    color: #2A9DBD;
  }
  #td_contributions * {
    color: #848B91;
  }
  #td_government * {
    color: #39D8FF;
  }
  #td_corporate * {
    color: #848B91;
  }

  //expenses
  #programming-key {
    background-color: #FFFFFF;
  } 
  #fundraising-key2 {
    background-color: #39D8FF;
  } 
  #administrative-key {
    background-color: #1D637B;
  }
  #td_programming * {
    color: #FFFFFF;
  }
  #td_fundraising2 * {
    color: #39D8FF;
  }
  #td_administrative * {
    color: #1D637B;
  }
}
section#team {
  h1 {
    margin-bottom: 1.8rem;
  }
  margin-top: 10rem;
  .blocks-wrap {
    margin-top: 3rem;
  }
  .block {
    border-top: @dark-border;
    height: 30vw;
    h2 {
      line-height: 1.3rem;
      margin: 0 0 .5rem 0;
    }
    .smallcaps {
      font-size: .65rem;
      line-height: .95rem;
    }
  }
  .block:nth-child(odd) {
    .block__content {
      border-right: @dark-border;
    }
  }
  .block:nth-child(11) {
    .block__content{
      border-right: none;
    }
  }
  .morse {
    left: 0;
    top: 6vw;
  }
}
section#funders {
  .morse {
    margin: 0;
    left: 6.5vw;
    top: 10vw;
    width: 45.61vw;
  }
}
div#contribute {
  padding: 0;
  div {
    background-color: @pale-red;
    padding: 2rem 8vw 2rem 12vw;
    height: 12rem;
    position: relative;
    top: 0;
    text-align: center;
    a:nth-child(2),
    a:nth-child(3) {
      background-color: #FFF;
      display: block;
      float: none;
      margin: 1rem 0 0 0;
      padding: 0;
      height: 3rem;
      width: 70vw;
      h2 {
        color: @pale-red;
        font-weight: bold;
        line-height: 3rem;
      }
    }
    h1 {
      font-family: @copy-font;
      font-size: 16px;
    }
  }
  img#donate {
    margin-left: -36vw;
    width: 150%;
  }
}
footer {
  //height: 13rem;
  #contact {
    padding: 3rem 0 0 12vw;
  }
}


//numerals
.no-1, .no-2, .no-3 {
  font-size: 20vw;
  line-height: 12vw;
}
.no-4, .no-5 {
  font-size: 14vw;
  line-height: 9vw;
}

}
@media all and (max-width: 338px) {
  canvas {
    left: -1rem;
  }
}