@dark-blue-grey-two: #223946;
@dark-border: solid 1.5px @dark-blue-grey-two;
@headline-font: 'BebasNeue Light', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
@numeric-font: 'BebasNeue Bold', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
@copy-font: 'Courier Prime', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
@background-color: #0a1724;
@dark-grey: #2e3944;
@light-blue: #39d8ff;
@morse-code-color: #dc3e38;
@pale-red: #dc3e38;
@slate: #3f6171;

@font-face {
  font-family: 'BebasNeue Bold';
  src: url('../fonts/BebasNeue_Bold.otf')  format('opentype'),
}
@font-face {
  font-family: 'BebasNeue Light';
  src: url('../fonts/BebasNeue_Light.ttf')  format('truetype'),    
}
@font-face {
  font-family: 'Courier Prime';
  src: url('../fonts/Courier_Prime.ttf')  format('truetype'),    
}

html {
  font-size: 16px;
}
body {
  background-color: @background-color;
  overflow-x: hidden;
  width:100%;
}
blockquote {
  margin:0;
}
canvas {
    position: relative;
    top: -1rem;
}
cite {
  font-style: normal;
  .smallcaps {
    clear: left;
    display: inline-block;
  }
}
#container {
  overflow-x: hidden;
}
h1, h2, .h2, h3 {
  margin-top: 0;
  font-family: @headline-font;
  font-weight: normal;
  opacity: 0.9;
  color: #ffffff;
}
h1 {
  font-size:8.6vw;
  letter-spacing: .6vw;
  margin-bottom: 3rem;
}
h2, .h2 {
  font-size: 1.25rem;
  letter-spacing: 4.5px;
  line-height: 1.7rem;
  margin-bottom: 1.5rem;
}
h3  {
  font-size: 1.2rem;
  letter-spacing: .35vw;
  line-height: .3rem;
  margin-bottom: 0;
}
p {
  margin-bottom: .8rem;
}
p, cite {
  line-height: 29px;
  font-family: @copy-font;
  font-size: 1.1rem;
  opacity: 0.9;
  color: #ffffff;
}
.smallcaps {
  line-height: 19px;
  letter-spacing: 2px;
  font-size: .8rem;
}
ul {
  list-style: none;
  padding: 0;
  width:100%;
}
.navbar {
  background-color: @background-color;
  border-bottom: @dark-border;
  height: 63px;
  width:100%;
  white-space: nowrap;
  display: block;
  padding: 7px 0px 0 6px;
  position: fixed;
  vertical-align: middle;
  z-index: 999;
  * {
    color: #fff;
    display:inline-block;
    text-align: left;
  }
  #binoculars {
    position:relative;
    left:20px;
    top:2px;
  }
  #chevron {
    position: absolute;
    right: 20px;
    top:26px;
  }
  h2  {
      overflow: hidden; 
  }
  #nav-main {
    border-left: @dark-border;
    border-right: @dark-border;
    margin: 8px 2px 8px 84px;
    height: 42px;
    vertical-align: top;
    width: 73vw;
    a {
      background-color: @background-color;
      border: none;
      height: 100%;
      padding: 0 1.7rem;
      h2 {
        padding-top: 10px;
      }
    }
  }
  #logo {
    background-color: @dark-blue-grey-two;
    position: absolute;
    height: 56px;
    width: 76px;
    h2 {
      display:none;
      position: relative;
      text-decoration: none;
      left: 33px;
      top: 15px;
    }
    img {
      display: inline-block;
      margin: 11px 0 11px -2px;
      width: 42px;
    }
  }
  #logo:hover {
    background-color: @slate;
    -webkit-transition: .1s all ease-out;
    transition: .1s all ease-out;
    width: 250px;
    h2 {
      display: inline-block;
    }
  }
  button#menu {
    background-color: @dark-blue-grey-two;
    border: none;
    position:relative;
    height: 53px;
    width: 225px;
    padding-left: 20px;
    h2 {
      margin-top: 13px;
      margin-bottom:  0;
    }
  }
}

.headroom {
    will-change: transform;
    -webkit-transition: transform 200ms linear;
    transition: transform 200ms linear;
}
.headroom--pinned {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
.headroom--unpinned {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.menu-list {
  min-height:64px;
}
.menu-list:hover {
  #menu {
    background-color: @slate;
  }
  #chevron {
      top: 23px;
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1);
    }
  ol {
  display: block;
  }
}
.menu-list ol {
  background-color: @slate;
  display: none;
  list-style: none;
  margin: 9px 0;
  padding: 0 5px 10px 1px;
  position: absolute;
  right: 0;
  width: 236px;
  overflow: hidden;
  a {
    border-left: 4px solid @slate;
    right: 31px;
    padding-left: 14px;
    position: relative;
    text-decoration: none;
    -webkit-transition: .5s all ease-out;
    transition: .5s all ease-out;
  }
  h2 {
    margin: 5px 0;
  }
  div {
    border-bottom: 1px solid @background-color;
    display:  block;  
    margin: 0 25px;
    padding: 7px 13px;
    -webkit-transition: .3s all ease-out;
    transition: .3s all ease-out;
  }
  li {
    display: block;
    -webkit-transition: .5s all ease-out;
    transition: .5s all ease-out;
  }
  li:hover {
  background-color: #537f93;
    a {
    border-left: 4px solid #537f93;
    }
    div {
      border-bottom: 1px solid #537f93;
    }
  }
  li:last-of-type div {
    border-bottom: none;
  }
  li.active {
    a {
      border-left: 4px solid #39d8ff;
    }
  }
}

#header-wrap {
  width:100%;
  margin-bottom: -5rem;
  padding-top: 71px;
  #map {
    width:100%;
  }
  .page-header {
    display: inline-block;
    position: relative;
    left:18vw;
    bottom: 20.5vw;
    min-height:17.4vw;
    width:50vw;
    background-color: @slate;
    * {
      margin-left: 3vw;
      }
    h2 {
      line-height: 1.3vw;
      margin-left: 3.3vw;
    }
    img {
      margin-top:3vw;
      margin-left:2.5vw;
      width:6.8vw;
      }
  }
  .page-title {
    font-size: 7.5vw;
    margin-left: 3vw;
    margin-bottom: 0;
  }
  #map-key {
    background-color: @background-color;
    display: inline-block;
    position: relative;
    left:33vw;
    bottom: 18.2vw;
    p {
      display: inline;
      margin: 0;
      padding-right: 5px;
    }
    }
    img {
      display: inline-block;
      padding: 0 8px;
      width: 8px;
    }
}
main {
  display: block;
  margin-left: 21vw;
  width: 60vw;
}
section {
  clear: both;
  margin-bottom: 26rem;
}
section::after,
#updates .floated-pair::after,
section#team ul::after {
  content: "";
  display: table;
  clear: both;
}
section#updates {
  margin-bottom: 15rem;
}
section#core-programs {
  margin-bottom: 15rem;
}
section#financials-report {
  margin-bottom: 17rem;
}
section#team {
  margin-bottom: 3rem;
}
section#board-of-directors,
section#interns,
section#associate-board,
section#design-cohort-members,
section#funders,
section#individuals,
section#foundations,
section#organizations {
  margin-bottom: 3.5rem;
}
section#volunteers2 {
  margin-bottom: 10rem;
}
section#government {
  margin-bottom: 10.2rem;
}
#current-staff img,
#team img {
  height:170px;
  width:170px;
}
#current-staff ul li, #team li {
  float: left;
  margin-right: 15px;
  height:260px;
  width: 170px;
  .smallcaps {
    margin-top: -10px;
  }
}
#current-staff li, #team li {
  margin-top: 6rem;
}

.section-title {
  max-width:28rem;
}
#team h2.section-title {
  margin-bottom: 0;
}
#letter .section-title,
#at-a-glance .section-title {
  color: @light-blue;
}
#at-a-glance h1 {
  margin-bottom: 5rem;
}
#letter h1 {
  margin-bottom: 6rem;
}
h1#staff {
  margin-bottom: -2rem;
}
#updates h1 {
  margin-bottom: 2.5rem;
}
#financials-report .section-title{
  margin-bottom: 2rem;
}
#updates {
  margin-bottom: 13rem;
}
.text-column {
  width: 43.5vw;
}
div.floated-pair {
  clear: both;
  margin: -.7rem 0;
  width: 69vw;
  * {
    vertical-align: top
  }
  img {
    position: relative;
    background-color: @dark-grey;
  }
  p:first-child.pair-left {
    display: inline-block;
    width:28vw;
  }
}
.pair-left {
  display: inline-block;
}
.pair-right {
  display: inline-block;
  float: right;
}
.blockquote {
  blockquote {
    margin-bottom: .5rem;
    padding:1rem 2rem 0 1.6rem;
  }
  cite {
    padding-left: 1.6rem;
  }
  p {
    float:left;
    padding: 0;
    margin: 0;
    max-width: 17rem;
  }
}
div#yerika {
  background-color: @slate;
  display: inline-block;
  float:right;
  min-height:19vw;
  width:32vw;
  margin: 1.5rem 1.5rem 0 0;
  padding: .5rem 0 .5rem .75rem;
  blockquote {
    max-width: 21.7rem;
  }
  p {
    margin-left: 1rem;
    margin-top: 1rem;
  }
}
#updates {
  .floated-pair {
    margin-bottom: 14vw;
  }
  .floated-pair:nth-child(4) {
    margin-bottom: 8vw;
  }
  .floated-pair:last-of-type {
    margin-bottom: 0;
  }
}

#signature {
  background-image: url('../images/Kendra%27sSignature.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 8.6vw;
  position: relative;
  left:-20px;
  p {
    position: absolute;
    bottom: -5px;
    left:20px;
  }
}
#mission-statement {
  height: 784px;
  margin-top: -10rem;
  margin-bottom: 37rem;
  position: relative;
  >* {position: absolute;}
  img:nth-child(1) {
    //height: 21.5vw;
    width: 23vw;
    left:-170px;
    top:115px;
  }
  img:nth-child(2) {
    //height: 25.77vw;
    width: 20vw;
    left:160px;
    top:30px;
  }
  img:nth-child(3) {
    //height: 40.1vw;
    width: 31.92vw;
    left:460px;
    top:100px;
  }
  img:nth-child(4) {
    //height: 26.71vw;
    width: 44vw;
    left:-180px;
    top:680px;
  }
  img:nth-child(5) {
    //height: 32.48vw;
    width: 37.93vw;
    left:520px;
    top:565px;
  }
  .big-box {
    background-color: @dark-grey;
    left:-65px;
    top:320px;
    min-height: 31vw;
    padding-bottom: 3rem;
    padding-left: .7rem;
  }
}
.big-box {
    border: 2px solid @background-color;
    padding: .5rem .75rem 1rem 1rem;
    width:58vw;
    h3, p {
      padding: 0 55px 0 55px;
    }
    h2 {
      padding-left: 55px;
      padding-top: 3rem;
    }
}
section#at-a-glance {
  margin-bottom: 13rem;
  p[class^=row] {
    width: 10em;
  }
  .row {
    border-bottom: 1px solid #979797;
    margin-right: 1rem;
    padding: .6rem 0;
    div {
      vertical-align: top;
    }
  }
  .row:last-of-type {
    border-bottom: none;
  }
  .row:nth-child(3) {
    padding-top:2rem;
  }

  //row heights
  .row:nth-child(3) {
      height: 17.5vw;
  }
  .row:nth-child(4) {
    height:19vw;
    .col-4:nth-child(1) {
      width:23%;
    }
    .col-4:nth-child(2),
    .col-4:nth-child(3) {
      width:25%;
    }
  }
  .row:nth-child(5), 
  .row:nth-child(6) {
      height: 12.25vw;
      .col-4:nth-child(1) {
      width:23%;
    }
    .col-4:nth-child(2),
    .col-4:nth-child(3) {
      width:25%;
    }
  }
  //col span
  .col-2 {
    display: inline-block;
    position:relative;
    height:100%;
    width: 48%;
  }
  .col-2:nth-child(2) {
    position: relative;
    left:1px;
    border-left: 1px solid #979797;
    width:49%;
  }
  .col-2:nth-child(3) {
    width:49%;
  }
  .col-4 {
    position: relative;
    border-right: 1px solid #979797;
    display: inline-block;
    height:100%;
    width:24%;
  }
  .col-4:last-of-type {
    border-right: none;
    width:23%
  }
}

//margins
.col-2 div, .col-4 div {
  margin-left: 1rem;
  height:100%;
}
.col-2:first-of-type, .col-4:first-of-type {
  div {
    margin-left: 0;
  }
}

[id^=no], [class^=no], .percent-sign {
  font-family: @numeric-font;
  line-height: 0;
  margin:0;
  position: absolute;
}
#no2361 {
  font-size: 16vw;
  margin-bottom: 4.9vw;
  bottom:5.7vw;
}
#no302 {
  font-size: 9.9vw;
  margin-bottom: 3.1vw;
  bottom:5.7vw;
}
#no114 {
  font-size: 7.8vw;
  margin-bottom:2.3vw;
  margin-left:-.4rem;
  bottom:8.3vw;
  }
#no103 {
  font-size: 6.9vw;
  margin-bottom:2vw;
  margin-left:-.4rem;
  bottom:8.3vw;
  }
#no70 {
  font-size: 5.5vw;
  margin-bottom:1.7vw;
  bottom:8.3vw;
  }
#no69 {
  font-size: 5.5vw;
  margin-bottom:1.7vw;
  bottom:5vw;
  }
#no60 {
  font-size: 5.5vw;
  margin-bottom:1.7vw;
  bottom:5vw;
  }
#no28 {
  font-size: 3vw;
  margin-bottom:.8vw;
  bottom:5vw;
  }
#no5 {
  font-size: 2.2vw;
  margin-bottom:.7vw;
  bottom:7vw;
  }
#no1 {
  font-size: 2.2vw;
  margin-bottom:.7vw;
  bottom:7vw;
  }
.col-4 div p:last-child,
.col-2 div p:last-child {
  margin-top:0;
  position:absolute;
  bottom:0;
}
.row1 {
  top:13vw;
}
.row2 {
  top:12vw;
}
.row3 {
  top:7.8vw;
}
.row4 {
  top:6vw;
}

#updates .floated-pair img {
  position: absolute;
  //height: 35vw;
  width: 35vw;
  z-index: -999;
}
img.strategic-planning {
  margin: -4.5rem 0 0 -5rem;
}
img.the-code {
  margin: .5rem 0 0 -8.5rem;
}
img.diversity {
  margin:-1rem 0 0 -5rem;
}
img.design-cohort {
  margin: 1rem 0 0 -8.5rem;
}
.pair-left.text-column {
  margin-top: 1rem;
}
.pair-right.text-column {
  margin-right: -3.5rem;
  margin-top: 2rem;
}
div.design-cohort {
  margin-top:-2rem;
  padding-top: 2.5rem;
}

.box {
  position: absolute;
  padding:2vw 0 0 2vw;
  right: 16vw;
  * {color: @dark-grey}
  blockquote {
    line-height: 1.7rem;
  }
  p.smallcaps {
    line-height: 22px;
  }
}
#core-programs .box, #field-trips .box {
  background-color: @pale-red;
  margin-top: 0vw;
  min-height: 15vw;
  padding-bottom: .5vw;
  width: 20.5vw;
  p {
    color: #fff;
    max-width: 19em;
  }
}
#field-trips .box {
  margin-top: 10px;
  min-height: 0;
  .smallcaps {
    line-height: 18px;
    margin: 10px 0 20px 0;
  }
}
#workshops .box {
  min-height: 0;
  .smallcaps {
    line-height: 18px;
    margin: 10px 0 20px 0;
  }
}
#core-programs img, #field-trips img, #in-schools img {
  margin-top: 3.7rem;
  height: 34.7vw;
  width: 57.7vw;
}
#core-programs {
  .big-box {
      background-color: @slate;
      margin-top: 2rem;
      padding-top: 2rem;
      width: 55vw;
      h3, p {
        padding-left: 1rem;
        padding-top: 1rem;
      }
    }
  h1 {
    margin-bottom: 5rem;
  }
  h3 {
    margin-bottom: -1rem;
  }
  div#field-trips {
    margin-top: 8rem;
    .quotes-div {
      height: 25rem;
    }
  }
  #in-schools {
    margin-top: 8rem;
    .quotes-div {
      height: 35vw;
    }
  }
}
#workshops {
  margin-top: 11.5rem;
  .big-box {
    margin-top: 1.5rem;
  }
  .big-box:nth-last-of-type(2) {
    margin-top: -.7em;
  }
  .column {
    width: 100%;
    blockquote {
      max-width: 30rem;
    }
    p {
        max-width: 20rem;
      }
  }
}
#publishing{
  margin-top: 10.5rem;
  .column {
    width: 100%;
    blockquote {
      max-width: 40rem;
    }
  }
}
#volunteers {
  margin-bottom: 12rem;
  margin-top: 8.4rem;
}
#volunteers img {
  margin-top: 1rem;
  margin-bottom: 5rem;
  height: 40.5vw;
  width: 57.5vw;
}
#volunteers .box{
  background-color: #fff;
  color: @slate;
  margin-top:-20vw;
  padding-bottom: 1.2vw;
  padding-left: 1.5vw;
  min-height:17vw;
  width:43.5vw;
  blockquote, cite {font-weight: bold;}
  blockquote {
    padding:0 1rem .3rem 0;
    margin-left: .6rem;
  }
  cite {
    padding-left: .8rem;
  }
  p {
    padding:0;
  }
}
#no97 {
  display: inline-block;
  font-size: 7.8vw;
  line-height: 6.6vw;
  position: static;
}
.percent-sign {
  display: inline-block;
  font-size: 4.9vw;
  line-height: 4vw;
  padding-left: 5px;
}

.quotes-div {
  border-top: @dark-border;
  margin: 2rem 0 0 0;
  padding-top: .6rem;
  width:96%;
  height:15vw;
  blockquote {
    padding-left: 0;
    padding-top: .8rem;
    margin-left: .6rem;
    max-width: 19rem;
  }
  cite {
    padding-left: .7rem;
    p {
      padding-left:1.9rem;
    }
  }
  p.h2 {
    padding-left: 0;
    padding-right: 0;
    padding-top: .8rem;
  }
}
.column {
  display: inline-block;
  height:100%;
  width:49%;
  vertical-align: top;
  border-right: @dark-border;
}
.column:last-of-type {
  border: none;
  padding-left: .8rem;
  width:47%;
}
#expenses-wrap,
#income-wrap {
  position: relative;
}
#income-wrap {
  .pie-chart {
    margin-top: .7rem;
  }
}
#expenses-wrap {
  float: right;
  margin-right: -10.8rem;
  margin-top: 12.2rem;
  .pie-chart {
    margin-top: 3.8rem;
    margin-right: .3rem
  }
}
.pie-chart {
  margin-top: 2rem;
}
.no  {
  font-size: 1.7rem;
  margin-top: .1rem;
}
.pie-data {
  position: absolute;
}
#financials-report {
  #earned-income {
    * { 
      color: #FFFFFF;
    }
    left:8.3rem;
    top:15.2rem;
  }
  #individuals {
    * { 
      color: rgba(56, 216, 255, 0.5);
    }
    left:25.4rem;
    top:14.6rem;
  }
  #foundations {
    * { 
      color: rgba(56, 216, 255, 0.5);
    }
    left:29rem;
    top:28rem;
  }
  #government {
    * { 
      color: #39D8FF;
    }
    left:35rem;
    top:40.3rem;
  }
  #corporate {
    * { 
      color: #69E2FF;
    }
    left:27.7rem;
    top:44.3.rem;
  }
  #national-contributions {
    * { 
      color: #BCF2FF;
      max-width: 14rem;
    }
    left:15.4rem;
    top:45.1rem;
  }
  #fundraising-events {
    * { 
      color: #C3F4FF;
      max-width: 9rem;
    }
    left:8.2rem;
    top:29.9rem;
  }

  #administrative {
    * { 
      color: rgba(56, 216, 255, 0.6);
    }
    left:9.6rem;
    top:2.6rem;
  }
  #fundraising {
    * { 
      color: #39D8FF;
    }
    left:4.2rem;
    top:12.7rem;
  }
  #programming {
    * { 
      color: #FFFFFF;
    }
    left:12.2rem;
    top:24.9rem;
  }
}
#income-wrap .pie-data.total {
  border-top: 1px solid white;
  padding-top: 0;
  left:.3rem;
  top:46.5rem;
  width: 5.2rem;
  * {
    color: #FFFFFF;
  }
}
#expenses-wrap .pie-data.total {
  border-top: 1px solid white;
  padding-top: 0;
  top:37.2rem;
  left: .4rem;
  width: 5.2rem;
  * {
    color: #FFFFFF;
  }
}
#team .section-title {
  max-width: 40rem;
}
#team ul {
  margin-bottom: 5rem;
  margin-top: -3rem;
  h2 {
    line-height: 1.7rem;
    margin: .75rem 0;
    max-width: 11rem;
    padding-bottom: .25rem;
  }
}
#team .smallcaps {
  opacity: .6;
}
#board-of-directors ul,
#interns ul,
#associate-board ul,
#design-cohort-members ul,
#volunteers2 ul,
#individuals ul,
#foundations ul,
#organizations ul {
    -moz-column-count: 3;
    -moz-column-gap: 3rem;
    -webkit-column-count: 3;
    -webkit-column-gap: 3rem;
    column-count: 3;
    column-gap: 3rem;
    p {
      margin: 0;
    }
    .smallcaps {
      margin-top: -3px;
      margin-bottom: .31rem;
      opacity: .6;
    }
}
#funders {
  img {
  margin-top: -1rem;
  margin-bottom: 11rem;
  height: 41vw;
  width: 57.5vw;
  }
  .box {
    background-color: #fff;
    color: @slate;
    min-height: 26vw;
    width: 43vw;
    margin: -26rem 0 0 0;
    padding:1.9vw .5vw 1.2vw 1.7vw;
  }
  blockquote, cite {font-weight: bold;}
  blockquote {
  padding:0;
  margin-left: .6rem;
  max-width: 31rem;
  }
  cite {
    padding-left: .8rem;
  }
  p {
    padding:0;
  }
  .text-column {
    max-width: 28rem;
  }
}
#government p {
  line-height: 9px;
}
/*
 * Footer
 */

footer {
  background-color: @dark-grey;
  margin-bottom: 33.2rem;
  padding: 0 0 0 18.5vw;
  height:15.7rem;
  width: 100%;
  * {
    color: rgba(255, 255, 255, 0.6);
  }
  #contact {
    padding-top: 4rem;
  }
  #contact * {
    display: inline-block;
  }
  h2 {
    margin-bottom: 0;
  }
  img {
    margin: 0 4px -1px -4px;
  }
  p {
    margin-left: 26px;
  }
  .smallcaps {
    color: #fff;
    margin-top: 0;
  }
}
