#financials {
	background-color: $pink;
	header {
		margin-bottom: -60px;
	}
	#_826link-1 {
		background: url(../assets/826logo-financials@2x.png) no-repeat;
		background-size: contain;
		display: block;
		margin: 0 auto;
		height: 99px;
		transform: translateX(15px) translateY(5px);
		width: 115px;
	}
}
#title__financials {
	max-width: 511px;
}
