footer {
	background-color: $offwhite;
	padding: 1px;
	h5 {
		margin: 188px 0 -20px;
	}
}
#programs footer h5 { margin-top: 56px; }
nav {
	margin: 0 16vw 0 14vw;
	width: calc(100% - 30vw);
}
.link-row__box {
	border-right: 1px solid rgba(0, 0, 0, 0.25);
	display: inline-block;
	padding: 5px 20px;
	&:last-child {
		border-right: none;
	}
	@media (max-width: 368px) {
		border-right: none;
		display: block;
	}
}
.nav__links {
	display: inline-block;
}
#_826link-2 {
	background: url(../assets/826-logo.svg) no-repeat;
	background-size: contain;
	display: block;
	margin: 97px auto 11px;
	height: 23px;
	width: 86px;
}
#copyright {
	margin: 0 0 69px 0;
}
#nav__link__kendra {
	background: url(../assets/nav-letter@2x.png) no-repeat;
	background-size: contain;
	margin-left: 4vw;
	transform: translateX(-7vw) translateY(6vw);
	&:hover {
	  transform: scale(1.05) rotate(5deg) translateX(-6.5vw) translateY(6.5vw);
	}
	height: 21.6vw;
	width: 16.8vw;
}
#nav__link__financials {
	background: url(../assets/nav-financials@2x.png) no-repeat;
	background-size: contain;
	margin-left: 0vw;
	transform: translateX(-3.5vw);
	&:hover {
	  transform: scale(1.05) rotate(5deg) translateX(-3.5vw);
	}
	height: 13vw;
	width: 19vw;
}
#nav__link__our-team {
	background: url(../assets/nav-ourteam@2x.png) no-repeat;
	background-size: contain;
	margin-left: 4vw;
	transform: translateX(-4vw) translateY(0.5vw);
	&:hover {
	  transform: scale(1.05) rotate(5deg) translateX(-4vw) translateY(1vw);
	}
	height: 15.5vw;
	width: 11.5vw;
}
#nav__link__our-students {
	background: url(../assets/nav-students@2x.png) no-repeat;
	background-size: contain;
	transform: translateY(1vw);
	&:hover {
	  transform: scale(1.05) rotate(5deg) translateY(1vw);
	}
	height: 19vw;
	width: 14vw;
}
#nav__link__programs {
	background: url(../assets/nav-programs@2x.png) no-repeat;
	background-size: contain;
	margin-left: 1vw;
	transform: translateY(-3vw);
	&:hover {
	  transform: scale(1.05) rotate(5deg) translateY(-3vw);
	}
	height: 14vw;
	width: 16vw;
}
#nav__link__partners {
	background: url(../assets/nav-partners@2x.png) no-repeat;
	background-size: contain;
	margin-left: 3vw;
	transform: translateY(-2vw);
	&:hover {
	  transform: scale(1.05) rotate(5deg) translateY(-2vw);
	}
	height: 16.6vw;
	width: 15vw;
}
#nav__link__our-supporters {
	background: url(../assets/nav-supporters@2x.png) no-repeat;
	background-size: contain;
	margin-left: 1vw;
	transform: translateX(2vw) translateY(-2vw);
	&:hover {
	  transform: scale(1.05) rotate(5deg) translateX(2vw) translateY(-2vw);
	}
	height: 16vw;
	width: 15vw;
}

@media all and (max-width: 660px) {
	nav {
		margin: 0 8vw 0 7vw;
		width: calc(100% - 15vw);
	}
	#nav__link__kendra {
		margin-left: 4vw;
		transform: translateX(-5vw) translateY(10vw);
		height: 45.36vw;
		width: 35.28vw;
	}
	#nav__link__financials {
		margin-left: 0vw;
		transform: translateX(0vw);
		height: 27.3vw;
		width: 39.9vw;
	}
	#nav__link__our-team {
		margin-left: 4vw;
		margin-top: 4vw;
		transform: translateX(-7vw) translateY(0.5vw);
		height: 35.6vw;
		width: 26.45vw;
	}
	#nav__link__our-students {
		margin-top: 4vw;
		transform: translateX(7vw) translateY(1vw);
		height: 39.9vw;
		width: 29.4vw;
	}
	#nav__link__programs {
		margin-left: 1vw;
		margin-top: 4vw;
		transform: translateX(-5vw) translateY(-3vw);
		height: 29.4vw;
		width: 33.6vw;
	}
	#nav__link__partners {
		margin-left: 3vw;
		margin-top: 8vw;
		transform: translateX(4vw) translateY(-2vw);
		height: 34.8vw;
		width: 31.5vw;
	}
	#nav__link__our-supporters {
		margin-left: 1vw;
		margin-top: 8vw;
		transform: translateX(2vw) translateY(-2vw);
		height: 33.6vw;
		width: 31.5vw;
	}
}
