#home {
	background-color: $offwhite;
	#_826link-1 {
		background: url(../assets/826-logo@2x.png) no-repeat;
		background-size: contain;
		display: block;
		margin: 0 auto;
		height: 106px;
		width: 124px;
	}
}
.stats {
	position: relative;
	margin-top: 90px;
}
.stats__stat {
	position: relative;
	margin: 0;
	& > div {
		position: relative;
		text-align: left;
		left: 50%;
		width: 200px;
	}
	@media all and (max-width: 980px) and (min-width: 731px) {
		position: static;
		display: inline-block;
		width: 42%;
		&:nth-child(odd) {
			margin-left: -100px;
		}
		& > div {
			top: -100px !important;
			&:nth-child(odd) {
				margin-left: 0px !important;
			}
			&:nth-child(even) {
				margin-left: 40px !important;
			}
		}
	}
}

.hp-grid__wrap {
	margin-bottom: 18vw;
	img {
		padding: 10px;
		box-sizing: border-box;
	}
}
.hp-grid__wrap--desktop {
	@media all and (min-width: 660.5px) {
		.hp-grid-1 {
			width:17vw;
			position: relative;
			// margin-left: 3vw;
			// margin-right: 3vw;
			top: 6vw;
		}
		.hp-grid-2 {
			width:26vw;
			position: relative;
			// margin-right: 3vw;
			top: -7vw;
			left: -1vw;
		}
		.hp-grid-3 {
			width:26vw;
			position: relative;
			// margin-right: 3vw;
			left: -1vw;
			top: -2vw;
		}
		.hp-grid-4 {
			width:24vw;
			position: relative;
			// margin-right: 3vw;
			top: -8vw;
		}
		.hp-grid-5 {
			width:22vw;
			position: relative;
			// margin-left: 3vw;
			left: -2vw;
			top: 15vw;
		}
		.hp-grid-6 {
			width:20vw;
			position: relative;
			left: -2vw;
			top: 15vw;
		}
		.hp-grid-7 {
			width:26vw;
			position: relative;
			top: 22vw;
		}
		.hp-grid-8 {
			width: 22vw;
			position: relative;
			top: 14vw;
		}
	}
	@media all and (max-width: 660px) {
		columns: 2;
		column-gap: 0px;
		padding: 40px;
		margin-bottom: 0;
		& img {
			margin: 0;
			position: static;
			width: 100%;
		}
	}
	@media all and (max-width: 539.5px) {
		display: none;
	}
}
.hp-grid__wrap--mobile {
	display: none;
	@media all and (max-width: 539.5px) {
		display: block;
	}
	& > div:nth-child(2) {
		margin: 30px;
	}
	img {
		width: 44vw;
	}
	.hp-grid-1 {
		position: relative;
		// margin-left: 3vw;
		// margin-right: 3vw;
		top: -1vw;
	}
	.hp-grid-2 {
		position: relative;
		// margin-right: 3vw;
		top: -14vw;
		left: -1vw;
	}
	.hp-grid-3 {
		position: relative;
		// margin-right: 3vw;
		left: -1vw;
		top: 3vw;
	}
	.hp-grid-4 {
		position: relative;
		// margin-right: 3vw;
		top: -6vw;
	}
	.hp-grid-5 {
		position: relative;
		// margin-left: 3vw;
		left: -2vw;
		top: 0vw;
	}
	.hp-grid-6 {
		position: relative;
		left: -2vw;
		top: 3vw;
	}
	.hp-grid-7 {
		position: relative;
		top: 0vw;
	}
	.hp-grid-8 {
		position: relative;
		top: 2vw;
	}
}
#mission {
	transform: translateY(-41vw);
	img {
		display: block;
		margin: 0 auto;
		width: 61vw;
		transform: translateX(4vw);
	}
	@media all and (max-width: 660px) {
		margin-bottom: 18vw;
		transform: translateX(0) translateY(0);
		img {
			transform: translateX(-1vw);
			width:115%;
		}
	}
	@media all and (max-width: 539.5px) {
		display: none;
	}
}
#stat__students-served {
	@media all and (min-width: 731px) { left: -4vw; }
	height: 190px;
	& > div {
		margin-left: 94px;
		top: -170px;
	}
}
#stat__zipcodes {
	@media all and (min-width: 731px) { left: 20vw; }
	height: 190px;
	& > div {
		margin-left: -90px;
		top: -80px;
	}
}
#stat__active-volunteers {
	@media all and (min-width: 731px) { left: -15vw; }
	height: 190px;
	& > div {
		margin-left: 47px;
		top: -160px;
	}
}
#stat__programming-hours {
	@media all and (min-width: 731px) { left: 10vw; }
	& > div {
		margin-left: -108px;
		top: -65px;
	}
}
#stat__teachers-served {
	@media all and (min-width: 731px) { left: -10vw; }
	height: 40px;
	& > div {
		margin-left: -130px;
		top: -60px;
	}
	.copy--20--futura {
		margin-left: 4px;
	}
}
#stat__writing-sessions {
	@media all and (min-width: 731px) { left: 25vw; }
	height: 200px;
	& > div {
		margin-left: -140px;
		top: -90px;
	}
	.copy--20--futura {
		margin-left: 13px;
	}
}
#stat__schools {
	@media all and (min-width: 731px) { left: -24vw; }
	height: 180px;
	& > div {
		margin-left: -140px;
		top: -70px;
	}
	.copy--20--futura {
		margin-left: 13px;
	}
}
#stat__publications {
	@media all and (min-width: 731px) { left: 16vw; }
	& > div {
		margin-left: -150px;
		top: -90px;
	}
}
#stat__field-trips {
	@media all and (min-width: 731px) { left: -5vw; }
	& > div {
		margin-left: -170px;
		top: -90px;
	}
	.copy--20--futura {
		margin-left: 4px;
	}
}

@media all and (max-width: 731px) {
	.stats__stat {
		text-align: center;
	}
	#stat__students-served,
	#stat__zipcodes,
	#stat__active-volunteers,
	#stat__programming-hours,
	#stat__teachers-served,
	#stat__writing-sessions,
	#stat__schools,
	#stat__publications,
	#stat__field-trips {
		left: -18vw;
		height: 200px;
		img {
			transform: scale(.7);
		}
		margin-bottom: 10px;
		& > div { margin: 0 20vw; }
	}
	#stat__students-served {
		& > div {
			top: -170px;
		}
	}
	#stat__zipcodes {
		& > div {
			top: -170px;
		}
	}
	#stat__writing-sessions	{
		transform: translateY(-90px);
		.copy--20--futura {
			width: 200px;
		}
	}
	#stat__field-trips img {
		margin-left: -30px;
	}
}
@media all and (max-width: 400px) {
	#stat__students-served,
	#stat__zipcodes,
	#stat__active-volunteers,
	#stat__programming-hours,
	#stat__teachers-served,
	#stat__writing-sessions,
	#stat__schools,
	#stat__publications,
	#stat__field-trips {
		.copy--20--futura {
			width: 100px;
		}
	}
}
