#partners {
	background-color: $yellow;
	ul {
		list-style: none;
		li {
		}
		p {
			margin: 0;
		}
	}
	#_826link-1 {
		background: url(../assets/826logo-partners@2x.png) no-repeat;
		background-size: contain;
		display: block;
		margin: 0 auto;
		height: 90px;
		width: 105px;
	}
	.list-section {
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 1178px;
		h2 {
			font-weight: normal;
			text-align: left;
			@media (max-width: 320px) {
				width: 268px;
				font-size: 60px;
				line-height: 53px;
			}
		}
		& > div {
			position: relative;
		}
	}
	#network {
		padding: 0 6vw;
		ul {
			transform: translateX(-76px) translateY(-130px);
			width: 315px;
			@media all and (max-width: 527px) {
				padding: 0;
				transform: translateX(0) translateY(-130px);
				width: 100%;
			}
		}
	}
	#community-partners {
		background: url(../assets/sketch-scissors@2x.png) no-repeat;
		background-position: 7vw bottom;
		background-size: 280px;
		min-height: 1450px;
		position: relative;
		padding-left: 17vw;
		margin-bottom: 200px;
		@media all and (max-width: 527px) {
			background-position: 0 bottom;
			padding: 0 6vw;
		}
		ul {
			width: 350px;
			@media all and (max-width: 368px) {
				width: 315px;
			}
			@media all and (max-width: 527px) {
				padding: 0;
				transform: translateX(0) translateY(-130px);
				width: 100%;
			}
		}
		ul:nth-child(2) {
			transform: translateX(-60px) translateY(-135px);
		}
		ul:nth-child(3) {
			position: absolute;
			top: 35%;
			left: 270px;
		}
		@media all and (max-width: 320px) {
			background-position: bottom;
		}
		@media (max-width: 1150px) {
			& > div {padding-bottom: 130px;}
			margin-bottom: 70px;
			h2 {
				transform: translateX(0);
			}
			ul:nth-child(2) {
				transform: translateX(0) translateY(-135px);
				margin-bottom: 0;
			}
			ul:nth-child(3) {
				margin-top: 0;
				position: static;
				transform: translateY(-135px);
			}
		}
	}
	#school-partners {
		background: url(../assets/sketch-eraser.png) no-repeat;
		background-position: right 120px bottom 420px;
		background-size: 300px;
		min-height: 2878px;
		margin-bottom: 200px;
		position: relative;
		padding: 0 6vw;
		@media all and (max-width: 320px) {
			background-position: bottom;
		}
		h2 {
			margin-bottom: -80px;
		}
		ul {
			width: 410px;
			@media all and (max-width: 368px) {
				width: 315px;
			}
			@media all and (max-width: 527px) {
				padding: 0;
				width: 100%;
			}
			@media all and (max-width: 1120px) {
				margin-bottom: 0;
			}
		}
		ul:nth-child(3) {
			position: absolute;
			top: 31%;
			left: 550px;
		}
		ul:nth-child(4) {
			position: relative;
			top: 470px;
		}
		@media all and (max-width: 1120px) {
			ul:nth-child(3), ul:nth-child(4) {
				position: static;
				margin: 0;
			}
		}
		@media all and (max-width: 980px) {
			background-position: right 120px bottom;
			background-size: 260px;
			margin-bottom: 20px;
			padding-bottom: 210px;
		}
		@media all and (max-width: 489px) {
			background-position: center bottom;
		}
		@media all and (max-width: 320px) {
			ul, ul:nth-child(3), ul:nth-child(4) {
				transform: translateX(0px) translateY(40px);
				padding-left: 0;
				margin: 0;
				position: static;
			}
		}
	}
}
#title__partners {
	max-width: 547px;
}
