#students {
	background-color: $purple;
	h2 {
		font-weight: normal;
	}
	#_826link-1 {
		background: url(../assets/826logo-students@2x.png) no-repeat;
		background-size: contain;
		display: block;
		margin: 0 auto;
		height: 90px;
		width: 105px;
	}
	i {
		transform: translateY(6px);
	}
	#map {
		max-width: 750px;
	}
	section {
		margin: 0 auto;
		position: relative;
		max-width: 550px;
		& > * {
			position: absolute;
		}
		canvas {
			left: 0;
		}
		h2 {
			margin: 0;
			@media all and (max-width: 460px) {
				position: static;
			}
		}
		.pie-slice {
			p {
				margin: 0;
			}
		}
	}
	#race {
		height: 660px;
		img {
			left: 10px;
			box-sizing: border-box;
			padding: 0 10px;
			margin-top: 60px;
			width: 100%;
			@media all and (max-width: 460px) {
				margin-top: 80px;
			}
		}
		.pie-slice:nth-child(2) {
			left: 217px;
			top: 36px;
		}
		.pie-slice:nth-child(3) {
			left: 127px;
			top: 57px;
		}
		.pie-slice:nth-child(4) {
			left: 59px;
			top: 107px;
		}
		.pie-slice:nth-child(5) {
			left: 5px;
			top: 219px;
		}
		.pie-slice:nth-child(6) {
			left: -7px;
			top: 355px;
		}
		.pie-slice:nth-child(7) {
			left: 423px;
			top: 355px;
		}
	}
	#gender {
		height: 626px;
		img {
			left: 80px;
			margin-top: 10px;
			width: 70%;
			@media all and (max-width: 460px) {
				margin-top: 30px;
			}
		}
		.pie-slice:nth-child(2) {
			left: 277px;
    		top: -6px;
		}
		.pie-slice:nth-child(3) {
			left: 59px;
			top: 107px;
		}
		.pie-slice:nth-child(4) {
			left: 449px;
    		top: 337px
		}
	}
	#english {
		height: 714px;
		img {
			left: 0px;
			box-sizing: border-box;
			padding: 20px;
    	margin-top: 60px;
			width: 100%;
			@media all and (max-width: 460px) {
				margin-top: 80px;
			}
		}
		.pie-slice:nth-child(2) {
			left: -10px;
    		top: 207px;
		}
		.pie-slice:nth-child(3) {
			left: 450px;
			top: 200px;
		}
	}
	.w651 {
		margin: 30px auto 40px;
	}
}
#title__students {
	max-width: 442px;
}
#icon-star {
	background: url(../assets/sticker-star@2x.png) no-repeat;
	background-size: contain;
	display: inline-block;
	margin: 0 5px 0 18px;
	height: 30px;
	width: 32px;
}
#icon-face {
	background: url(../assets/sticker-face@2x.png) no-repeat;
	background-size: contain;
	display: inline-block;
	margin: 0 5px 0 27px;
	height: 33px;
	width: 32px;
}
#icon-dot {
	background: url(../assets/sticker-dot@2x.png) no-repeat;
	background-size: contain;
	display: inline-block;
	margin: 0 5px 0 23px;
	height: 24px;
	width: 24px;
}
#key {
	margin-bottom: 190px;
	h6, p {
		display: inline-block;
	}
	h6 {
		margin: 0;
	}
}
.key__item {
	display: inline-block;
	white-space: nowrap;
}
