#supporters {
	background-color: $light-green;
	#_826link-1 {
		background: url(../assets/826logo-supporters@2x.png) no-repeat;
		background-size: contain;
		display: block;
		margin: 0 auto;
		height: 99px;
		transform: translateX(10px) translateY(5px);
		width: 115px;
	}
	.list-section {
		margin: 0 19vw;
		h2 {
			font-weight: normal;
			margin-bottom: -50px;
			position: relative;
			text-align: left;
			z-index: -1;
		}
	}
	h2 {
		font-weight: normal;
		text-align: left;
	}
	ul {
		list-style: none;
		transform: translateX(-100px);
		width: 400px;
		p {
			margin: 0;
		}
	}
	#fivek {
		padding-bottom: 500px;
	}
	#fivehundred {
		margin-top: -400px;
	}
	#gt-onehundred {
		background: url(../assets/sketch-sharpener@2x.png) no-repeat;
		background-size: 400px;
		background-position: 0 800px;
		padding-left: 39vw;
		margin-top: -400px;
		@media all and (max-width: 829px) {
			background-position: 0 bottom;
			background-size: 280px;
			padding-bottom: 270px;
		}
		h2 {
			@media all and (min-width: 829.5px) {
				transform: translateX(-400px);
			}
		}
		ul:not(:nth-of-type(1)) {
			margin-top: -400px;
		}
		ul:nth-of-type(1) {
			@media all and (min-width: 829.5px) {
				transform: translateX(-500px);
			}
		}
		ul:nth-of-type(2) {
			transform: translateX(-100px) translateY(350px);
		}
		ul:nth-of-type(3) {
			@media all and (max-width: 1150px) {
				transform: translateX(-50vw);
			}
			transform: translateX(-43vw);
		}
		ul:nth-of-type(4) {
			@media all and (min-width: 1150px) {
				transform: translateX(2vw);
			}
		}
		ul:nth-of-type(5) {
			@media all and (max-width: 1150px) {
				transform: translateX(-43vw);
			}
			@media all and (max-width: 829.5px) {
				transform: none;
			}
			transform: translateX(-27vw);
		}
	}
	#fivek {
		background: url(../assets/sketch-calculator@2x.png) no-repeat;
		background-size: 450px;
		@media all and (max-width: 1120px) {
			background-position: bottom right 10px;
			background-size: 320px;
			padding-bottom: 340px;
		}
		@media all and (max-width: 539.5px) {
			background-size: 230px;
			padding-bottom: 260px;
		}
		background-position: bottom 400px right;
		transform: translateX(11vw);
	}
	#tenk, #onek {
		transform: translateX(39vw);
	}
	#lt-onehundred {
		ul:nth-of-type(2) {
			margin-top: -1000px;
			transform: translateX(26vw);
		}
		ul:nth-of-type(3) {
			margin-top: -200px;
		}
		ul:nth-of-type(4) {
			margin-top: -680px;
			transform: translateX(33vw);
		}
		ul:nth-of-type(5) {
			margin-top: -420px;
			transform: translateX(0vw);
		}
		ul:nth-of-type(6) {
			margin-top: -80px;
			transform: translateX(28vw);
		}
		ul:nth-of-type(7) {
			margin-top: -180px;
			transform: translateX(-8vw);
		}
		ul:nth-of-type(8) {
			margin-top: -420px;
			transform: translateX(28vw);
		}
	}
	#in-kind {
		margin-bottom: 200px;
	}
}
#volunteer-committees {
	margin: 0 auto;
	max-width: 785px;
	text-align: left;
	h2 {
		display: inline-block;
		margin-bottom: 0;
		padding-right: 30px;
		@media all and (max-width: 400px) {
			font-size: 70px;
			line-height: 60px;
		}
	}
	ul {
		display: inline-block;
		padding: 0 0 0 10px;
		transform: none;
	}
}
#img-supporters {
	display: block;
	margin: 200px auto 107px;
	max-width: 589px;
}
#title__supporters {
	margin-top: 90px;
	max-width: 410px;
}
#title__donors {
	display: block;
	margin: 0 auto 20px;
	max-width: 385px;
}

#supporters {
	@media all and (max-width: 829.5px) {
		.list-section {
			margin: 0;
			width: auto;
			h2 {
				transform: translateX(20vw);
			}
		}
		ul {
			transform: none;
			margin-bottom: 0;
			margin-left: auto;
			margin-right: auto;
			padding: 0;
		}
		ul:not(:nth-of-type(1)) {
			margin-top: 0;
		}
		#fivehundred {margin-top: 0}
		#gt-onehundred {
			margin-top: 0;
			padding-left: 0;
			ul:not(:nth-of-type(1)) {
				margin-top: 0;
			}
			ul:nth-of-type(2),
			ul:nth-of-type(3),
			ul:nth-of-type(4) {
				transform: none;
			}
		}
		#fivek,
		#tenk,
		#onek {
			transform: none;
		}
		#lt-onehundred {
			ul:nth-of-type(2),
			ul:nth-of-type(3),
			ul:nth-of-type(4),
			ul:nth-of-type(5),
			ul:nth-of-type(6),
			ul:nth-of-type(7),
			ul:nth-of-type(8) {
				margin-top: 0px;
				transform: none;
			}
		}
	}
}
