#team {
	background-color: $green;
	#_826link-1 {
		background: url(../assets/826logo-team@2x.png) no-repeat;
		background-size: contain;
		display: block;
		margin: 0 auto;
		height: 99px;
		transform: translateX(15px) translateY(5px);
		width: 115px;
	}
	.list-section {
		&:not(#staff):not(#associate-board) {margin: 11%;}
		@media (min-width: 830px) {
			&:not(#staff):not(#associate-board) {margin: 19vw};
		}
		h2 {
			font-weight: normal;
			margin-top: 210px;
			@media (max-width: 830px) {
				width: 380px;
			}
			@media (max-width: 320px) {
				width: 268px;
				font-size: 60px;
				line-height: 53px;
			}
		}
	}
	ul {
		list-style: none;
		@media (min-width: 830px) {
			columns: 2;
			width: 580px;
		}
		@media (max-width: 829.5px) {
			padding-left: 0;
		}
		li {
			-webkit-column-break-inside: avoid;
			page-break-inside: avoid;
			break-inside: avoid;
		}
		p {
			margin: 0;
		}
	}
	ul.spacey li {
		margin-bottom: 15px;
	}
	@media (max-width: 1120px) {
		h2 {margin-top: 0;}
	}
}
// #team
#staff {
	background: url(../assets/sketch-apple@2x.png) no-repeat;
	background-position: -3vw bottom;
	background-size: 300px;
	padding-bottom: 220px;
	margin: 11% 11% 0 11%;
	@media all and (min-width: 830px) {
		margin: 19vw 19vw 0 19vw;
	}
	ul {
		margin: 0 auto;
		transform: translateY(-115px);
		@media all and (max-width: 320px) {
			transform: translateY(-85px);
		}
	}
	@media all and (min-width: 1120px) {
		background-position: 0vw 5vw;
		ul {
			transform: translateX(10vw);
		}
	}
	@media all and (max-width: 731px) {
		background-size: 220px;
		padding-bottom: 120px;
	}
}
#directors {
	h2 {
		margin-bottom: -45px;
		@media all and (max-width: 320px) {
			margin-bottom: -35px;
		}
		text-align: left;
	}
	ul {
		margin: 0;
		padding: 0;
	}
}
#associate-board {
	background: url(../assets/sketch-ruler@2x.png) no-repeat;
	background-size: 200px;
	padding-bottom: 280px;
	margin: 11% 11% 0 11%;
	@media (min-width: 830px) {
		margin: 19vw 19vw 0 19vw;
	}
	@media (min-width: 1120px) {
		h2, ul {
			transform: translateX(21.5vw);
		}
	}
	@media (max-width: 1120px) {
		background-position: 3vw bottom;
	}
	@media (max-width: 730px) {
		background-size: 140px;
		padding-bottom: 130px;
	}
	@media (max-width: 520px) {
		background-size: 110px;
		padding-bottom: 120px;
	}
	h2 {
		text-align: left;
		margin-bottom: -45px;
		@media all and (max-width: 320px) {
			margin-bottom: -35px;
		}
	}
	ul {
		margin: 0;
		padding-bottom: 120px;
	}
	.col-2 {
		transform: translateY(550px);
	}
}
#interns {
	h2 {
		margin-bottom: -95px;
		@media all and (max-width: 320px) {
			margin-bottom: -85px;
		}
		padding: 30px;
		text-align: left;
	}
	.col-2 {
		transform: translateY(400px);
	}
}
.team-members__member {
	margin-bottom: 73px;
	@media all and (max-width: 1120px) {
		margin-bottom: 103px;
	}
	@media all and (max-width: 830px) {
		margin-bottom: 123px;
	}
	@media all and (max-width: 659px) {
		margin-bottom: 173px;
	}
	@media all and (max-width: 489px) {
		margin-bottom: 50vw;
	}
	@media all and (max-width: 389px) {
		margin-bottom: 60vw;
	}
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	height: 25vw;
	img {
		margin-bottom: 25px;
		@media all and (max-width: 1120px) {
			margin-bottom: 20px;
		}
		@media all and (max-width: 830px) {
			margin-bottom: 12px;
		}
		@media all and (max-width: 659px) {
			margin-bottom: 8px;
			height: auto;
		}
		width: 100%;
	}
}
#title__team {
	max-width: 401px;
	margin-bottom: 57px;
}
#team-members {
	column-gap: 5vw;
	column-count: 3;
	margin: 0 18vw;
	@media all and ( max-width: 659px ) {
		column-count: 2;
	}
	@media all and ( max-width: 489px ) {
		margin: 0 15vw;
	}
	.copy--20--bebas, .copy--16--bookmania {
		display: block;
	}
	.copy--20--bebas {
		line-height: 24px;
		margin-bottom: 5px;
	}
	.copy--16--bookmania {
		line-height: 1.5;
	}
}

@media (max-width: 1120px) {
	.list-section {
		text-align: left;
		li {text-align:center;}
		h2, ul {
			transform: translateX(0);
		}
	}
}
@media (max-width: 830px) {
	#team .col-2 {
		transform: none;
	}
}
