@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.font-times {
  font-family: Times;
}

.page-container {
  box-sizing: border-box;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;

  @screen sm {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.page-container-top-padding {
  padding-top: 40px;

  @screen sm {
    padding-top: 100px;
  }
}

.page-container-bottom-padding {
  padding-bottom: 40px;

  @screen sm {
    padding-bottom: 100px;
  }
}

.text-container {
  max-width: 37em;
}

.image-bg {
  position: fixed;
  top: -240px;
  right: -240px;
  bottom: -240px;
  left: -240px;
  overflow: hidden;
  background-color: white;
}

.image-bg__inner {
  animation: bg-slide 8s linear infinite;
  background-image: url(/sky.jpg);
  background-repeat: repeat-x;
  background-size: 50% 100%;
  bottom: 0px;
  filter: brightness(1.1);
  opacity: .5;
  left: 0px;
  position: absolute;
  right: 100%;
  top: 0px;
  width: 400%;
  z-index: 0;
}

@keyframes bg-slide {
  from {
    background-position: 0%;
  }

  to {
    background-position: -100%;
  }
}

.h-100vh {
  height: 100vh;
}