.page-container {
  p {
    margin-bottom: 2em;
    max-width: 37em;
  }

  img {
    max-width: 900px;
    width: 100%;
    margin-bottom: 80px;
    box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.33);
  }

  a {
    color: theme('colors.blue.600');
    text-decoration: underline;
  }

  .project__back {
    width: 60px;

    img {
      box-shadow: none;
      margin-bottom: 0;
      opacity: .6;
    }
  }
}