@use 'swiper/scss';
@use 'swiper/scss/a11y';
@use 'swiper/scss/effect-fade';
@use 'swiper/scss/pagination';
@use 'swiper/scss/autoplay';

.testimonials {
    @screen sm {
        // Match .page-container, but without mobile padding
        padding-left: 60px;
        padding-right: 60px;
    }

    .swiper-pagination-bullet-active {
        background-color: theme('colors.gray.800');
    }

    .particles {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        pointer-events: none;
    }

    .swiper-wrapper {
        background-color: white;

        @screen sm {
            border-radius: 1rem;
        }
    }

    .swiper-slide:not(.swiper-slide-active) {
        opacity: 0 !important;
    }
}